<section my-directive ng-controller="dataSchemapreview" style="padding:0px ! important;">
    <div class="section-body">
        <div class="row">
            <div class="col-lg-12 zeroPadd">
                <form role="form" class="form" id="schemaBulkForm" name="schemaBulkForm" method="POST" ng-submit="submitJobs(bulkDatapreview)" ng-disabled="" >
                    <div class="col-lg-13">
                        <div class="card style-default-bright">
                           
                            <div class="card style-default-bright">
                                <div class="card-head" style="line-height:1.2">
                                    <div class="col-md-3">

                                        <!-- <span><input type="image" src="images/back_inactive.png" ng-click="validateJobs(bulkDatapreview)" style="top:9px;" title="Validate" class="pointerCursor iconPadding" onmouseout="iconUnHover(this, 'back_inactive.png');" onmouseover="iconHover(this, 'back_active.png');">
                        </input>
                        </span> -->
                                        <span><input type="image" src="images/next_inactive.png" alt="Submit Form" style="top:9px;margin-left:10%;"  title="Next" class="pointerCursor iconPadding" onmouseout="iconUnHover(this, 'next_inactive.png');" onmouseover="iconHover(this, 'next_active.png');">
						</input>
						</span>
                                        <span><input type="image" src="images/cancel_inactive.png" ng-click="cancelBulksubmit()" style="top:9px;" title="Cancel" class="pointerCursor iconPadding" onmouseout="iconUnHover(this, 'cancel_inactive.png');" onmouseover="iconHover(this, 'cancel_active.png');">
						</input>
						</span>


                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>



                    <div class="col-lg-12 ">
                        <div class="card ">

                            <div>
                                <div class="card style-default-bright">
                                    <div class="col-md-4" style="padding-left:24px;">
                                        <h3>Bulk Ingestion </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    

						<div class="col-lg-12">
                        <div class="col-lg-12">

                            <div ><!-- class="card" -->
                                <div class=" style-default-bright">
                                    <div class="row clearfix">&nbsp;</div>
                                   
                                   
                                    <div>
                                        <div class="calendarNav tab-pane fade in active" id="standardNav" ng-show="tableview">

                                            <div class="row clearfix"></div>
											
                                               

                                                <div class="bulktable">
                                                <!-- <i ng-show="msg" class="fa fa-times red">Selected Jobs already exists</i> -->
                                                    <div ng-show="msg" >
                                                        <div class='col-lg-12'>
                                                            <i class="fa fa-exclamation-triangle red" ng-model="nms">{{nms}} already exists</i>
                                                        </div>
                                                    </div>
                                                    
                                                    <div ng-show="date" >
                                                        <div class='col-lg-12'>
                                                            <i class="fa fa-exclamation-triangle red" >Execution date cannot be empty</i>
                                                        </div>
                                                    </div>

                                                    <div ng-show="msgs" >
                                                        <div class='col-lg-12'>
                                                            <i class="fa fa-exclamation-triangle red" >Please select Job</i>
                                                        </div>
                                                    </div>

                                                    <div ng-show="namej" >
                                                        <div class='col-lg-12'>
                                                            <i class="fa fa-exclamation-triangle red" >Please provide Job Name </i>
                                                        </div>
                                                    </div>

                                                    <div ng-show="leapy" >
                                                        <div class='col-lg-12'>
                                                            <i class="fa fa-exclamation-triangle red" >Please check date, not a leap year </i>
                                                        </div>
                                                    </div>

                                                    <div ng-show="vdate" >
                                                        <div class='col-lg-12'>
                                                            <i class="fa fa-exclamation-triangle red" >Valid date format 'yyyy-mm-dd'</i>
                                                        </div>
                                                    </div>

                                                    <div ng-show="ingestionId" >
                                                        <div class='col-lg-12'>
                                                            <i class="fa fa-exclamation-triangle red" >Bulk Ingestion ID cannot be empty</i>
                                                        </div>
                                                    </div>
                                                    
                                                    <div ng-show="bulkDatapreview.length == 0">
                                                        <div>
                                                            <h4 class="text-center">No Schema found</h4>
                                                        </div>
                                                    </div>
                                                    
                                                    <table class='table  table-bordered' ng-show="columnsBulk.headerBulk.length > 0" >
														
                                                        <tr class="headertext">
															<td style="max-width:33px !important"><input type="checkbox" ng-model="all" /> 
															</td>
                                                            <td ng-repeat="column in columnsBulk.headerBulk track by $index" id="colNameBulk{{$index}}" >
                                                                {{column}}
                                                               
                                                            </td>
                                                        </tr>
													</table>
													<table class='table  table-bordered' ng-show="columnsBulk.headerBulk.length > 0" >
                                                    
                                                       <tr ng-repeat="data in bulkDatapreview track by $index" id="data{{$index}}" ng-class="{ 'alert-danger': columnBulk1(data) }">	
															<td style="max-width:33px !important"><input type="checkbox" ng-model="data.checked" ng-checked="all"/><!--  ng-click="selectJob(data)" -->
                                                            </td>
                                                            <td ng-repeat="columnBulk in data track by $index" contenteditable="true" ng-model="columnBulk" data-ng-change="editable(columnBulk,$index,data)"  ><!-- ng-class="{ 'alert-danger': columnBulk == null }"-->
                                                         
                                                               {{columnBulk}}
                                                            </td>
                                                        </tr>
														
                                                    </table>
                                                </div>
												<div class="row-fluid clearfix"></div>
												
												
												
					</div>
                </div>
                </div>
				 </div>
				 </div>
                </div>
                </form>
                <script>
                    $('.mega').on('scroll', function() {
                        $('.headerfixed').css('top', $(this).scrollTop());
                    });
                </script>
                

                <!--  <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->

                </div>
                </div>

                </div>

                
            

</section>