<center><div style="padding-top:200px;" id="dashLoader"><img src="images/loader.gif"></div></center>
<section id="dashboardPage" ng-controller="dashboardCtrl" style="display:none">

	<div class="section-body" style="margin-top: 0px">
		<div class="row">
			<div class="row">
				<div class="col-lg-12 zeroPadd">

					<div class="card style-default-bright">
						<div class="card-head">
							<div class="col-sm-5">
								<header style="color: white">&nbsp;</header>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix">&nbsp;</div>
			<div class="card-body col-md-8 pull-right">

				<div class="table-responsive"><b>Running Process</b>
				<div class="clearfix">&nbsp;</div>
					<table class="table table-bordered no-margin profile" style="width:48%;">
					<thead>
						<tr>
							<th>Ingestion &nbsp;<span ng-click="ingestionRun > 0 && openRunDetails('Ingestion');" ng-class="{'pointerCursor greenStatus': ingestionRun > 0 , 'red' : ingestionRun == 0}">{{ingestionRun}}</span></th>
							<th>Project &nbsp;<span ng-click="projectRun > 0 && openRunDetails('Project');" ng-class="{'pointerCursor greenStatus' : projectRun > 0 , 'red' : projectRun == 0}">{{projectRun}}</span></th>
							<th>Streaming &nbsp;<span ng-click="streamingRun > 0 && openRunDetails('Streaming');" ng-class="{'pointerCursor greenStatus': streamingRun > 0 , 'red' : streamingRun == 0}">{{streamingRun}}</span></th>
						</tr>
					</thead>
					<tbody>
					<tr></tr>
					</tbody>
					
				</table>
				<div class="row clearfix">&nbsp;</div>
				<div class="row">&nbsp;</div>
				
			</div>
		
		</div>
					<div class="clearfix">&nbsp;</div>
			<div class=" col-lg-12">
				<div class="lessPadd col-lg-6">
				<div ng-hide="ingestionGraphDataEmpty" id="ingestion_chart_div" style="width: 630px; height: 300px;"></div>
				<div ng-show="ingestionGraphDataEmpty" style="width: 530px; height: 300px;padding-top:100px;padding-left:100px;">No ingestion profileStatus graph to display</div>
				<div ng-hide="projectGraphDataEmpty" id="project_chart_div" style="width: 630px; height: 300px;"></div>
				<div ng-show="projectGraphDataEmpty" style="width: 530px; height: 300px;padding-top:100px;padding-left:100px;">No project profileStatus graph to display</div>
				</div>
				<div class="col-md-6 lessPadd">
				<div ng-hide="ingestionGraphrunStatusEmpty" id="ingestion_runStatus_div" style="width: 650px; height: 300px;"></div>
				<div ng-show="ingestionGraphrunStatusEmpty" style="width: 550px; height: 300px;padding-top:100px;padding-left:100px;">No ingestion runStatus graph to display</div>
				<div ng-hide="projectGraphrunStatusEmpty" id="project_runStatus_div" style="width: 650px; height: 300px;"></div>
				<div ng-show="projectGraphrunStatusEmpty" style="width: 550px; height: 300px;padding-top:100px;padding-left:100px;">No project runStatus graph to display</div> 
				
				
				</div>
			
		</div>
		
	</div>
	<div class="modal fade" id="runDetailmodal" tabindex="-1"
							role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">

							<div class="modal-dialog streamModal">
								<div class="modal-content">
									<div class="modal-header">
										
										<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelStatusChk();">
						                        <span aria-hidden="true">&times;</span>
					                    </button>
					                    <h4 class="modal-title" id="StreamJ">Running {{runType}} Process</h4>

									</div>
									<div class="modal-body">


										<table width="100%" class="table table-bordered" ts-wrapper>
											<col style="width:20%">
											<col style="width:25%">
											<thead>
												<tr>
													<th ts-criteria="name|lowercase" ng-show="runType == 'Streaming'">Job #</th>
													<th ts-criteria="name|lowercase" ts-default>Name</th>
													<th ts-criteria="startedOn|lowercase">Started On</th>
													<th ts-criteria="startedBy|lowercase">Started by</th>
													<th ts-criteria="status|lowercase" ng-show="runType != 'Streaming'">Status</th>
													<th>Operations</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="obj in runningStatusData | orderObjectBy:orderByField:reverse" ts-repeat>
													<td ng-show="runType == 'Streaming'">{{obj.jobId}}</td>
													<td>{{obj.name}}</td>
													<td>{{obj.startedOn}}</td>
													<td>{{obj.startedBy}}</td>
													<td ng-show="runType != 'Streaming'">{{obj.status}}</td>
													<td><a ng-click="obj.jobId != 'UNDEFINED' && stopTheRun(runType,obj.jobId)"  ng-class="{'pointerCursor': {{obj.jobId}} != 'UNDEFINED'}" 
ng-attr-title="{{obj.jobId != 'UNDEFINED' ? 'Stop' : 'No permission'}}"><span class="glyphicon glyphicon-stop color pointerCursor"></span></a><span
									id="{{obj.jobId}}loader" style="display: none;"><i
										class="fa fa-spinner fa-spin"></i></span></td>	
												</tr>

												</div>
											</tbody>
										</table>






									</div>
									<!--  <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->
									<!-- <div class="modal-footer">
										<center><button type="button" ng-click="closeModal()"
											class="btn btn-primary" data-dismiss="modal">Close</button></center>
									</div> -->
								</div>
							</div>
						</div>
</section>
