<div ng-controller="AppCtrl" mouse-capture ng-keydown="keyDown($event)"
	ng-keyup="keyUp($event)">
	<div class="page-content blocky" my-directive
		ng-controller="PipelineCtrl1" id="pipeGraph">
		<div class="col-md-2"><ng-include src="'views/leftbar.html'" class="clearfix"></ng-include></div>
		<div class="modal fade" id="AddDataSet" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<b>Add Dataset</b>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalDetailsLabel1"></h4>

					</div>
					<div class="modal-body">
						<form class="form-horizontal" role="form" name="datasetform"
							id="datasetform" ng-submit="saveAddUpdateDataSet(editdataData)">
							<div class="row-fluid clearfix">
								<div class="row-fluid">&nbsp;</div>
								<div class="col-sm-12">
									<div class="form-group col-sm-12">
										<label for="genomeName" class="col-sm-4 control-label">Name<sup><span
												aria-hidden="true" class="glyphicon glyphicon-asterisk red"></span></sup></label>
										<div class="col-sm-8">
											<input type="text" class="form-control"
												ng-model="editdataData.name" id="genomeName"
												placeholder="Name"
												pattern="^[a-zA-Z][a-zA-Z0-9- _\.]{1,50}$"
												required="required">
										</div>
									</div>

									<div class="form-group col-sm-12">
										<label for="Schema" class="col-sm-4 control-label">Schema</label>
										<div class="col-sm-8" ng-controller="getTypeList">
											<select class="form-control" ng-model="editdataData.Schema"
												ng-options="schemalist for schemalist in data"
												ng-required="required">
											</select>

										</div>
									</div>
								</div>
								<div class="col-sm-12">
									<div class="form-group col-sm-12">
										<label for="Description" class="col-sm-4 control-label">Description</label>
										<div class="col-sm-8">
											<textarea type="text" class="form-control" id="Description"
												ng-model="editdataData.description"
												placeholder="Description"></textarea>
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix row-fluid ">
								<div class="col-sm-12">
									<div class="form-group col-sm-12">
										<label for="Location" class="col-sm-4 control-label">Location<sup><span
												aria-hidden="true" class="glyphicon glyphicon-asterisk red"></span></sup></label>
										<div class="col-sm-8">
											<input type="text" class="form-control"
												ng-model="editdataData.location" id="Location"
												placeholder="Location" required="required">
										</div>
									</div>
								</div>
								<div class="col-sm-12">
									<div class="form-group col-sm-12">

										<label for="Location" class="col-sm-4 control-label">Batch
											Structure<sup><span aria-hidden="true"
												class="glyphicon glyphicon-asterisk red"></span></sup>
										</label>
										<div class="col-sm-8">
											<input type="text" placeholder="YYYY-MM-DD"
												class="form-control" ng-model="editdataData.batchStructure"
												ng-required="true">
										</div>

									</div>
								</div>


							</div>





							<div class="clearfix">&nbsp;</div>
							<div class="row-fluid clearfix">
								<div class="form-group col-sm-9 pull-right">
									<div class="col-sm-5 pull-right">
										<button type="button" class="btn btn-default col-sm-12"
											data-dismiss="modal">Cancel</button>
									</div>
									<div class="col-sm-5 pull-right">
										<button type="submit" class="btn btn-primary col-sm-12">Save</button>
									</div>
								</div>
							</div>

						</form>
					</div>

				</div>
			</div>
		</div>

		<div class="modal fade" id="AddModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<b>Add Pipeline</b>
						<button type="button" class="close " data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title " id="myModalDetailsLabel"></h4>

					</div>
					<div class="modal-body">
						<form ng-submit="saveAddUpdatePipeline(editData)" name="PipeForm1"
							ng-model="schemaForm" id="PipeForm1"
							class="form ng-pristine ng-invalid ng-invalid-required"
							role="form">
							<div class="row-fluid">&nbsp;</div>
							<div class="form-group col-sm-9">
								<label class="col-sm-3 control-label " for="genomeName">Name<sup><span
										aria-hidden="true" class="glyphicon glyphicon-asterisk red"></span></sup></label>
								<div class="col-sm-9 ">
									<input type="text" required="required "
										ng-pattern="/^[a-zA-Z0-9_\s]*$/ " name="pipeName"
										placeholder="Name" id="genomeName" ng-model="editData.name"
										class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ">
									<span ng-show="schemaForm1.pipeName.$error.pattern"
										class="alert-danger ng-hide ">Special Character Not
										allowed.</span>
								</div>
							</div>
							<div class="form-group col-sm-9 ">
								<label class="col-sm-3 control-label " for="Description">Description</label>
								<div class="col-sm-9 ">
									<textarea placeholder="Description" id="description"
										ng-model="editData.description"
										class="form-control ng-pristine ng-valid "></textarea>

								</div>
							</div>



							<div class="form-group col-sm-7 ">
								<label class="col-sm-4 control-label " for="Location">Frequency</label>
								<div class="col-sm-6 ">
									<select name="SourcerFormat " ng-model="editData.frequency"
										ng-options="sourceFreq[k] as t for (k,t) in sourceFreq"
										class="form-control ng-pristine ng-valid"
										ng-change="resetoffset()"></select>

								</div>
							</div>
							<div class="form-group col-sm-9">
								<label class="col-sm-3 control-label " for="Location">Offset</label>
								<div class="col-sm-3 ">
									<input type="text" name="pipeoffSet placeholder="
										offset" id="genomeName" ng-model="editData.offset"
										class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern"
										ng-disabled="editData.frequency == 'One Time'">
								</div>
								<div class="col-sm-5" ng-show="editData.frequency=='Hourly'">
									<select name="SourcerFormat" ng-model="editData.offsetTime"
										ng-options="offsetHour[k] as t for (k,t) in offsetHour"
										class="form-control ng-pristine ng-valid"></select>

								</div>
								<div class="col-sm-5" ng-show="editData.frequency=='Daily'">
									<select name="SourcerFormat" ng-model="editData.offsetTime"
										ng-options="offsetDay[k] as t for (k,t) in offsetDay"
										class="form-control ng-pristine ng-valid"></select>

								</div>
							</div>
							<div class="row-fluid clearfix">
								<div class="form-group col-sm-12 pull-right">
									<div class="col-sm-2 pull-right">
										<button type="button" class="btn btn-default"
											data-dismiss="modal">Cancel</button>

									</div>
									<div class="col-sm-2 pull-right">
										<input type="submit" value="Save" name="Save"
											class="btn btn-primary col-sm-12">
									</div>

								</div>
							</div>

						</form>
					</div>

				</div>
			</div>
		</div>
		<div class="modal fade" id="editPipeLine" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<b>Add Pipeline</b>
						<button type="button" class="close " data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title " id="myModalDetailsLabel"></h4>

					</div>
					<div class="modal-body">
						<form ng-submit="saveAddUpdatePipeline(editPipeLineData,'edit')"
							name="PipeForm1" ng-model="schemaForm" id="PipeForm1"
							class="form ng-pristine ng-invalid ng-invalid-required"
							role="form">
							<div class="row-fluid">&nbsp;</div>
							<div class="form-group col-sm-9">
								<label class="col-sm-3 control-label " for="genomeName">Name<sup><span
										aria-hidden="true" class="glyphicon glyphicon-asterisk red"></span></sup></label>
								<div class="col-sm-9 ">
									<input type="text" required="required "
										ng-pattern="/^[a-zA-Z0-9_\s]*$/ " name="pipeName"
										placeholder="Name" id="genomeName"
										ng-model="editPipeLineData.name"
										class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ">
									<span ng-show="schemaForm1.pipeName.$error.pattern"
										class="alert-danger ng-hide ">Special Character Not
										allowed.</span>
								</div>
							</div>
							<div class="form-group col-sm-9 ">
								<label class="col-sm-3 control-label " for="Description">Description</label>
								<div class="col-sm-9 ">
									<textarea placeholder="Description" id="description"
										ng-model="editPipeLineData.description"
										class="form-control ng-pristine ng-valid "></textarea>

								</div>
							</div>



							<div class="form-group col-sm-7 ">
								<label class="col-sm-4 control-label " for="Location">Frequency</label>
								<div class="col-sm-6 ">
									<select name="SourcerFormat "
										ng-model="editPipeLineData.frequency"
										ng-options="sourceFreq[k] as t for (k,t) in sourceFreq"
										class="form-control ng-pristine ng-valid"
										ng-change="resetoffset()"></select>

								</div>
							</div>
							<div class="form-group col-sm-9">
								<label class="col-sm-3 control-label " for="Location">Offset</label>
								<div class="col-sm-3 ">
									<input type="text" name="pipeoffSet placeholder="
										offset" id="genomeName" ng-model="editPipeLineData.offset"
										class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern"
										ng-disabled="editPipeLineData.frequency == 'One Time'">
								</div>
								<div class="col-sm-5"
									ng-show="editPipeLineData.frequency=='Hourly'">
									<select name="SourcerFormat"
										ng-model="editPipeLineData.offsetTime"
										ng-options="offsetHour[k] as t for (k,t) in offsetHour"
										class="form-control ng-pristine ng-valid"></select>

								</div>
								<div class="col-sm-5"
									ng-show="editPipeLineData.frequency=='Daily'">
									<select name="SourcerFormat"
										ng-model="editPipeLineData.offsetTime"
										ng-options="offsetDay[k] as t for (k,t) in offsetDay"
										class="form-control ng-pristine ng-valid"></select>

								</div>
							</div>
							<div class="row-fluid clearfix">
								<div class="form-group col-sm-12 pull-right">
									<div class="col-sm-2 pull-right">
										<button type="button" class="btn btn-default"
											data-dismiss="modal">Cancel</button>

									</div>
									<div class="col-sm-2 pull-right">
										<input type="submit" value="Save" name="Save"
											class="btn btn-primary col-sm-12">
									</div>

								</div>
							</div>

						</form>
					</div>

				</div>
			</div>
		</div>

		<div class="container col-md-7">


			<div class="mainy">

				<div class="row">
					<div class="col-md-12">
						<div class="awidget full-width relPosion">
							<div class="row clearfix">&nbsp;</div>
							<table class="table table-pipeline">


								<tbody>
									<tr>
										<td class="col-md-3" style="background-color: #26A6E7;">

											<!--  <div>
                        <a class="btn btn-primary col-lg-12" title="Add a Pipeline" data-target="#AddModal" data-toggle="modal" ng-click="clearForm('PipeForm1')">Add Pipeline</a>

                      </div>
                      <div class="clearfix">&nbsp;</div>-->

																						<div ng-controller="palleteCtrl">

												<div class="panel-group">
													<div class="panel panel-default ng-isolate-scope">
														<div class="panel-heading">
															<h4 class="panel-title">
																<b>PALETTE</b>
															</h4>
															<div class="clearfix">&nbsp;</div>
															<!--  <p data-toggle="modal" ng-click="clearForm('datasetform')" class="btn btn-primary"><b>Add Dataset</b></p> -->
															<div class="input-group">
																<span class="input-group-addon" ng-click="clearForm()">Add</span>
																<select class="form-control"
																	ng-model="editData1.addStageSchema"
																	ng-change="clearForm(editData1.addStageSchema)">
																	<option ng-repeat="v in addsetStage">{{v.name}}</option>
																</select>
															</div>
															<div class="clearfix">&nbsp;</div>
															<accordion close-others="oneAtATime"  ng-click="getScope();"> <!-- <accordion-group
																heading="Dataset" is-open="status.isFirstOpen"
																is-disabled="status.isFirstDisabled">
															<accordion close-others="oneAtATime"> <accordion-heading>Dataset
															 <i ng-class="{'icon-minus':isFirstOpen,'icon-plus':!isFirstOpen}"></i>
															<span
																ng-class="{'glyphicon glyphicon-chevron-up': status.isFirstOpen, 'glyphicon glyphicon-chevron-down': !status.isFirstOpen}"
																class="glyphicon glyphicon-chevron-up pull-right"></span>
															</accordion-heading> <span ng-class="{'glyphicon glyphicon-triangle-top': 'status.isFirstDisabled', 'glyphicon glyphicon-triangle-bottom': 'status.isFirstOpen'}" class="glyphicon glyphicon-triangle-bottom"></span>
															<p ng-repeat="obj in detaildataSet">
																<span ng-click="addDatasetgraph(obj.name,obj.id)"
																	style="cursor: pointer" title="click to add in canvas">{{obj.name}}</span><span><a
																	title="Delete" style="cursor: pointer"
																	ng-click="showconfirm(obj.id,obj)"><span
																		class="fa fa-trash color"></span></a></span>
															</p></accordion-group>  --><accordion-group heading="Stage"
																is-open="status.isSecondOpen"
																is-disabled="!status.isSecondDisabled" style="max-height: 400px;overflow-y: scroll;">
															<accordion-heading>Stage <!--  <i ng-class="{'icon-minus':isFirstOpen,'icon-plus':!isFirstOpen}"></i>-->
															<span
																ng-class="{'glyphicon glyphicon-chevron-up': status.isSecondOpen, 'glyphicon glyphicon-chevron-down': !status.isSecondOpen}"
																class="glyphicon glyphicon-chevron-up pull-right"></span>
															</accordion-heading> <!-- <p> <select name="stageType1" ng-model="editstageData.seletType"
													ng-options="stageType[k] as t for (k,t) in stageType"
														class="btn dropdown-toggle selectpicker btn-default"></select></p>-->
															<p ng-show="mapLength > 0">
																<b><u>MapReduce</u></b>
															</p>
															<p ng-repeat="obj in detaildataPipeStageMap"
																style="cursor: pointer; padding-left: 22px;">
																<span class="window dragMe" data-nodetype="MapReduce" data-nodeid="{{obj.id}}" ng-click="getScope();">{{obj.stagename}}</span>&nbsp;<a
																	ng-click="selectPipeline(obj.id,'PipelineStage')"
																	title="Edit a Stage"><span
																	class="fa fa-pencil-square-o color"></span></a>
															</p>
															<hr class="hrstage">
															<p ng-show="hiveLength > 0">
																<b><u>Hive</u></b>
															</p>
															<p ng-repeat="obj in detaildataPipeStageHive"
																style="cursor: pointer; padding-left: 22px;">
																<span class="window dragMe" data-nodetype="Hive" data-nodeid="{{obj.id}}" ng-click="getScope();">{{obj.stagename}}</span>&nbsp;<a
																	ng-click="selectPipeline(obj.id,'PipelineStage')"
																	title="Edit a Stage"><span
																	class="fa fa-pencil-square-o color"></span></a>
															</p>
															<hr class="hrstage">
															<p ng-show="pigLength > 0">
																<b><u>Pig</u></b>
															</p>
															<p ng-repeat="obj in detaildataPipeStagePig"
																style="cursor: pointer; padding-left: 22px;">
																<span class="window dragMe" data-nodetype="Pig" data-nodeid="{{obj.id}}" ng-click="getScope();">{{obj.stagename}}</span>&nbsp;<a
																	ng-click="selectPipeline(obj.id,'PipelineStage')"
																	title="Edit a Stage"><span
																	class="fa fa-pencil-square-o color"></span></a>
															</p>
															<hr class="hrstage">
															<p ng-show="sparkLength > 0">
																<b><u>Spark</u></b>
															</p>
															<p ng-repeat="obj in detaildataPipeStageSpark"
																style="cursor: pointer; padding-left: 22px;">
																<span class="window dragMe" data-nodetype="Spark" data-nodeid="{{obj.id}}" ng-click="getScope();">{{obj.stagename}}</span>&nbsp;<a
																	ng-click="selectPipeline(obj.id,'PipelineStage')"
																	title="Edit a Stage"><span
																	class="fa fa-pencil-square-o color"></span></a><!-- <span><a
																	ng-click="showconfirm(obj.id,obj)"
																	style="cursor: pointer" title="Delete"><span
																		class="fa fa-trash color"></a></span> -->
															</p>
															<hr class="hrstage">
															</accordion-group> </accordion-group></accordion>
															<div class="clearfix">&nbsp;</div>
															<!--  <p data-toggle="modal" ng-click="clearForm('stageForm1')" class="btn btn-primary"><b>Add Stage</b></p> -->
														</div>
													</div>

													<!-- <accordion-group heading="Controls"> <input
													src="images/1420716034_settings-48.png" type="image"
													ng-click="addDatasetgraph()" title="Add a new node to the chart"
													value="Add Node" /> <!-- input type="image"
													src="images/1420719220_data_backup.png"
													ng-click="addNewInputConnector()"
													ng-disabled="chartViewModel.getSelectedNodes().length == 0"
													title="Add a new input connector to the selected node"
													value="Add Input Connector" /> <input type="image"
													src="images/1420719204_data_configuration.png"
													ng-click="addNewOutputConnector()"
													ng-disabled="chartViewModel.getSelectedNodes().length == 0"
													title="Add a new output connector to the selected node"
													value="Add Output Connector"> <input type="image"
													src="images/1420716120_cup-48.png"
													ng-click="deleteSelected()"
													ng-disabled="chartViewModel.getSelectedNodes().length == 0 && chartViewModel.getSelectedConnections().length == 0"
													title="Delete selected nodes and connections"
													value="Delete Selected"></accordion-group>  -->
													</accordion>
												</div>
												</div>
											<div class="clearfix">&nbsp;</div>

												<div class="panel-group">
												<div class="panel panel-default ng-isolate-scope">
													<div class="panel-heading">
														<h4 class="panel-title" ng-click="showHidePipe();" style="cursor: pointer;">
															<b>PIPELINE</b> <span
																ng-class="{'glyphicon glyphicon-chevron-down': !pipeView, 'glyphicon glyphicon-chevron-up': pipeView}"
																class="glyphicon glyphicon-chevron-up pull-right"></span>
														</h4>
													</div>

													<div class="panel-body">
														<div ng-show="pipeView">
															<p ng-repeat="obj in detaildataPipe track by $index">
																<span style="cursor: pointer;"
																	ng-click="selectPipeline(obj.id);" id="{{obj.id}}"
																	ng-class="{'ptagactive': $index == 0 }">{{obj.name}}</span>&nbsp;<span><a
																	title="Edit a Pipeline" ng-click="editPipeline(obj.id)" style="cursor: pointer;"><span
																		class="fa fa-pencil-square-o color"></a></span> <span><a
																	ng-click="showconfirm(obj.id,obj)"
																	style="cursor: pointer" title="Delete"><span
																		class="fa fa-trash color"></a></span>
															</p>
															<hr class="hrstage">
															<div class="clearfix">&nbsp;</div>
														</div>

														<p ng-click="clearForm('PipeForm1')"
															data-target="#AddModal" data-toggle="modal"
															class="btn btn-primary">
															<b>Add Pipeline</b>
														</p>
													</div>
												</div>
											</div>
												<!--   <div class="clearfix">&nbsp;</div>
                      <div>
                        <a class="btn btn-primary pull-right col-lg-12" title="Configure a Stage" data-toggle="modal" ng-click="clearForm('stageForm1')">Add Stage </a>
                      </div>
                      <div class="clearfix">&nbsp;</div>-->
										</td>


										</div>
										<td>
											<div class="panel panel-default ng-isolate-scope">
												<div class="panel-heading">
													<h4 class="panel-title flipClass">
														<a ng-click="changeContent()" class="" style="cursor: pointer;"><span
															ng-class="{'glyphicon glyphicon-minus': graphShow ,'glyphicon glyphicon-plus': !graphShow}"
															class="glyphicon glyphicon-plus pull-right"></span><span
															id="graphHead" style="cursor: pointer;"><b>CANVAS VIEW</b></span></a>
														<div class="draggable-container" >
															<div style="margin: 15px;">
													</h4>
												</div>
												<div ng-show="graphShow" class="panel-body">
												<!-- <div id="container" class="drop-container" ng-click="addEvent($event)" droppable> -->
												<div class="pull-right">
												<button type="button" class="btn btn-default" id="saveall" ng-show=false>Save</button>
												<button id="loadChat" class="btn btn-default" type="button" ng-show=false>Load</button>
												</div>
												<div class="demo flowchart-demo" id="flowchart-demo">
              							
							            		</div>	
							            	<div class="pull-right iconPosion">
													<!-- <input type="image" src="images/trash.png"
													ng-click="deleteSelected()"
													ng-disabled="chartViewModel.getSelectedNodes().length == 0 && chartViewModel.getSelectedConnections().length == 0"
													title="Delete selected nodes and connections"
													value="Delete Selected" style="cursor: pointer;">  --><input type="image"
													src="images/play2.png" ng-click="startPipeLine()"
													title="Run Pipeline"
													value="Start the selected Pipeline">
										 </div>
							            <!-- /demo -->
							         <!--   <button type="button" class="btn btn-default" id="loadChat1" onclick="jsload();">
														Load</button> -->
									
														<div class="explanation" ><textarea id="jsonOutput" style="display:none;"></textarea></div>
											</div></div>
											<div class="panel panel-default ng-isolate-scope">
												<div class="panel-heading">
													<h4 class="panel-title flipClass">
														<a ng-click="changeContent()" class="" style="cursor: pointer;"><span
															ng-class="{'glyphicon glyphicon-minus': pipeEdit, 'glyphicon glyphicon-plus': !pipeEdit}"
															class="glyphicon glyphicon-plus pull-right"
															id="graphBottom"></span><span id="graphBottom" style="cursor: pointer;"><b>Run
																	Status</b></span></a>
													</h4>
													<div class="draggable-container" ng-show="pipeEdit">
														<div style="margin: 15px;">



															<tabset justified="true"> <!-- <tab heading="{{editData.name}}" class="boldHeading" id="pipeDetailsID">
                          <div class="row">
                            <form role="form" class="form ng-pristine ng-valid ng-valid-required" id="schemaForm" ng-model="schemaForm" name="schemaForm1" ng-submit="saveAddUpdatePipeline(editData,'edit')">
                              <div class="row-fluid">&nbsp;</div>
                              <div class="col-xs-21">


                                <label class="col-xs-5">Name</label>
                                <label class="col-xs-3">Description</label>

                                  <label class="col-xs-3">Value List</label>


                              </div>
                              <div class="col-xs-22">

                                <div class="col-sm-5">
                                  <input type="text" class="form-control ng-pristine ng-valid-pattern ng-valid ng-valid-required" ng-model="editData.name" id="genomeName" placeholder="Name" name="pipeName" ng-pattern="/^[a-zA-Z0-9_\s]*$/" required="required">
                                  <span class="alert-danger ng-hide" ng-show="schemaForm1.pipeName.$error.pattern">Speacial
																	Charecter Not allowed.</span>
                                </div>
                              </div>
                              <div class="col-xs-22">

                                <div class="col-sm-6">
                                  <textarea class="form-control ng-pristine ng-valid" ng-model="editData.description" id="description" placeholder="Description"></textarea>

                                </div>
                              </div>



                              <div class="row"></div>
                              <div class="col-xs-21">
                                <div class="input-group">&nbsp;</div>

                                <label class="col-xs-5">Frequency</label>
                                <label class="col-xs-3">offset</label>

                                  <label class="col-xs-3">Value List</label>


                              </div>
                              <div class="col-sm-21">

                                <div class="col-sm-5">
                                  <select class="form-control ng-pristine ng-valid" ng-options="sourceFreq[k] as t for (k,t) in sourceFreq" ng-model="editData.frequency" name="SourcerFormat">
                                    <option value="0">Hourly</option>
                                    <option value="1">Daily</option>
                                  </select>

                                </div>
                              </div>
                              <div class="col-sm-21">

                                <div class="col-sm-6">
                                  <input type="text" name="pipeoffSet placeholder=" offset "=" " id="genomeName " ng-model="editData.offset "
																	class="form-control ng-pristine ng-invalid-required ng-valid-pattern ng-valid ">
																<select name="SourcerFormat " ng-model="editData.offset " ng-options="sourceFormat[k] as t for (k,t) in sourceFormat " class="form-control ng-pristine ng-valid "><option value="? "></option></select>

															</div>
														</div>
														<div class="row "></div>
														<div class="row-fluid clearfix ">&nbsp;</div>
														<div class="row-fluid clearfix ">

															<div class="col-sm-2 pull-right ">
																<input type="submit " value="Save " name="Save"
																	class="btn btn-primary col-sm-12 ">
															</div>


														</div>

													</form>
												</div>
												</tab>  <tab heading="Pipeline 1-1 ">Pipeline 1-1</tab>
    <tab heading="Pipeline 1-2 ">Pipeline 1-2</tab> 
 --> <tab heading="" class="boldHeading" id="runstatusTab">
															<div class="input-group">&nbsp;</div>
															<span id="runStatus"></span>
															<span id="pipeLog"></span></tab> </tabset>
														</div>
													</div>
												</div>
											</div>

										</td>


									</tr>





								</tbody>



							</table>



						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="deleteConfirmModal" tabindex="-1"
			role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="deleteLabel">Delete Schema:
							{{DelObj.name}}</h4>
					</div>
					<div class="modal-body">
						<p>Do you want to delete?</p>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" id="deleteConfirm"
							data-ng-click="delete1()">Yes</button>
						<button type="button" class="btn btn-success" data-dismiss="modal">No</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="AddStage" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<b>Add Stage</b>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalDetailsLabel1"></h4>

					</div>
					<div class="modal-body">
						<!--  <form  enctype="multipart/form-data" class="form-horizontal ng-pristine ng-valid" id="browsefile"> -->
						<form enctype="multipart/form-data"
							ng-submit="saveAddUpdateStage(editstageData,inputdatasetlist,outputdatasetlist)"
							name="stageForm1" ng-model="stageForm" id="stageForm1"
							class="form ng-pristine ng-invalid ng-invalid-required"
							role="form">

							<div class="form-group col-sm-14">
								<div class="col-sm-3">
									<select class="form-control"
										ng-options="stageType[k] as t for (k,t) in stageType"
										ng-model="editstageData.seletType" name="stageType"
										ng-change="removeDataArr();;"></select>

								</div>
								<div class="col-sm-3">
									<input type="text" required="required"
										ng-pattern="/^[a-zA-Z0-9_\s]*$/" name="stagename"
										placeholder="Stage Name" id="stageName"
										ng-model="editstageData.stagename"
										class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern">
									<span ng-show="stageForm1.stagename.$error.pattern"
										class="alert-danger ng-hide">Special Character Not
										allowed.</span>
									<!-- <div class="combobox">
										<input type="text" name="comboboxfieldname" id="cb_identifier" name="stagename" placeholder="Stage Name" ng-model="editstageData.stagename">
										<span>▼</span>
										<div class="dropdownlist">
											<a ng-repeat="obj in allStages">{{obj.stagename}}</a>
											<a>Item1</a>
											<a>Item2</a>
										</div>
									</div> -->
								</div>
								<div class="col-sm-6">
									<textarea placeholder="Description" id="sdescription"
										ng-model="editstageData.stagedescription"
										class="form-control ng-pristine ng-valid"></textarea>

								</div>
								<div class="row clearfix">&nbsp;</div>
							</div>
							<!-- <div class="container">
					    <div class="row" id="exSelects">
					      <div class="col-sm-6">
					        <h4>Select with Search Filter</h4>
					         <select class="form-control" ng-options="stageType[k] as t for (k,t) in stageType" ng-model="editstageData.seletType" name="stageType" ng-change="removeDataArr();;"></select>
					      </div>/col
					    </div> -->

							<div class="form-group col-sm-10"
								ng-show="editstageData.seletType =='MapReduce' || editstageData.seletType =='Pig'">
								<!-- <div class="col-sm-6"> -->
								<label for="Type" class="col-sm-4 control-label">Input
									Dataset</label>
								<!-- </div> -->
								<!-- <div class="col-sm-6"><label for="Type" class="col-sm-6 control-label">Output Dataset</label></div> -->
								<div class="col-sm-6">
									<select class="form-control"
										ng-model="editstageData.inputDataset">
										<!-- multiple="multiple" -->
										<option ng-repeat="item in detaildataSet"
											value="{{item.name}}">{{item.name}}</option>
									</select>

								</div>
								<!--  <div class="col-sm-5">
                             <select class="form-control"    ng-model="editstageData.outDataset">multiple="multiple"
								 <option ng-repeat="item in detaildataSet" value="{{item.name}}">{{item.name}}</option>
								</select>
                            </div> -->

							</div>
							<div class="form-group col-sm-10"
								ng-show="editstageData.seletType =='MapReduce' || editstageData.seletType =='Pig'">
								<!-- <div class="col-sm-6"> -->
								<!-- <label for="Type" class="col-sm-4 control-label">Input Dataset</label> -->
								<!-- </div> -->
								<!-- <div class="col-sm-6">-->
								<label for="Type" class="col-sm-4 control-label">Output
									Dataset</label>
								<!-- </div> -->
								<div class="col-sm-6">
									<select class="form-control"
										ng-model="editstageData.outputDataset">
										<!-- multiple="multiple" -->
										<option ng-repeat="item in detaildataSet"
											value="{{item.name}}">{{item.name}}</option>
									</select>

								</div>
								<!--  <div class="col-sm-5">
                             <select class="form-control"    ng-model="editstageData.outDataset">multiple="multiple"
								 <option ng-repeat="item in detaildataSet" value="{{item.name}}">{{item.name}}</option>
								</select>
                            </div> -->

							</div>
							<div ng-show="editstageData.seletType =='MapReduce'">
								<div class="form-group col-sm-10">
									<label class="col-sm-4 control-label" for="mapclass">MapClass</label>
									<div class="col-sm-6">
										<input type="text" name="mapclass" placeholder="Class Path"
											id="mapclass" ng-model="editstageData.mapclass"
											class="form-control">
									</div>
								</div>
								<div class="form-group col-sm-10">
									<label class="col-sm-4 control-label" for="stageprocess">ReduceClass</label>
									<div class="col-sm-6">
										<input type="text" name="reduceclass" placeholder="Class Path"
											id="reduceclass" ng-model="editstageData.reduceclass"
											class="form-control">
									</div>
								</div>
							</div>
							<hr class="divider">
							<div ng-show="editstageData.seletType =='Hive'">
								<div class="form-group col-sm-14">
									<!-- <div class="col-sm-6"> -->
									<label for="Type" class="col-sm-3 control-label">Input
										Dataset</label>
									<!-- </div> -->
									<!-- <div class="col-sm-6"><label for="Type" class="col-sm-6 control-label">Output Dataset</label></div> -->
									<div class="col-sm-4">
										<select class="form-control"
											ng-model="editstageData.inputDataset">
											<!-- multiple="multiple" -->
											<option value="Add New dataset">Add New dataset</option>
											<option ng-repeat="item in detaildataSet"
												value="{{item.name}}">{{item.name}}</option>
										</select>

									</div>
									<div class="col-sm-1 pointerCursor"
										ng-click="addDataset(editstageData.inputDataset,'input');"
										href="">
										<i class="fa fa-plus-square fa-2x green"
											title="Add Input Dataset"></i>
									</div>
									<div class="form-group col-sm-4">
										<!--  <label class="col-sm-4 control-label" for="Description">Input dataset List</label> -->
										<div class="col-sm-14 breakLongtext">
											<span ng-model="inputdatasetlist" ng-show="showinputData">{{inputdatasetlist}}</span>
											<!-- <textarea placeholder="Dataset List" id="inputdata" ng-model="inputdatasetlist" class="form-control" ng-list="/\n/"></textarea> -->

										</div>
									</div>
									<div class="row clearfix" ng-hide="showinputData">&nbsp;</div>
								</div>

								<div class="form-group col-sm-14">
									<!-- <div class="col-sm-6"> -->
									<label for="Type" class="col-sm-3 control-label">Output
										Database</label>
									<!-- </div> -->
									<div class="col-sm-4">
										<select class="form-control"
											ng-model="editstageData.outDataset">
											<!-- multiple="multiple" -->
											<option value="Add New dataset"
												ng-click="clearForm(editData1.addStageSchema)">Add
												New dataset</option>
											<option ng-repeat="item in detaildataSet"
												value="{{item.name}}">{{item.name}}</option>
										</select>
									</div>
									<div class="col-sm-1 pointerCursor"
										ng-click="addDataset(editstageData.outDataset,'output');"
										href="">
										<i class="fa fa-plus-square fa-2x green"
											title="Add Output Dataset"></i>
									</div>

									<div class="form-group col-sm-4">
										<!-- <label class="col-sm-4 control-label" for="Description">OutputData</label> -->
										<div class="col-sm-14 breakLongtext">
											<span ng-model="outputdatasetlist" ng-show="showinoutputData">{{outputdatasetlist}}</span>
											<!-- <textarea placeholder="Dataset List" id="inputdata" ng-model="inputdatasetlist" class="form-control" ng-list="/\n/"></textarea> -->
										</div>
									</div>
									<div class="row clearfix" ng-hide="showinoutputData">&nbsp;</div>
								</div>
							</div>

							<div class="form-group col-sm"
								ng-show="editstageData.seletType =='Hive'">
								<label for="Type" class="col-sm-3 control-label">Define
									Query</label>
							</div>
							<div ng-show="editstageData.seletType =='Hive'"
								class="form-group col-sm-12 queryBox">
								<div class="form-group col-sm-22">
									<!-- <label class="col-sm-2 control-label" for="hiveql">Query</label> -->
									<div>
										<label data-ng-repeat="choice in choicesSchema.choices">
											<input type="radio" name="response" value="{{choice.text}}"
											ng-click="setChoiceForSchema(choicesSchema, choice)"
											ng-model="schemaType" />&nbsp; {{choice.text}}&nbsp;
										</label>
									</div>
									<div class="col-sm-12"
										ng-show="choicesSchema.choices[1].isUserAnswer">
										<textarea name="hiveSql" placeholder="Query" id="hiveSql"
											ng-model="editstageData.hiveSql" class="form-control"
											ng-blur="createDataSet(editstageData.hiveSql);"></textarea>
									</div>
									<div class="col-sm-12"
										ng-show="choicesSchema.choices[0].isUserAnswer">
										<div class="form-group col-sm-12">
											<label for="Schema" class="col-sm-2 control-label">Table</label>
											<div class="col-sm-4">
												<select class="form-control" ng-model="editTableData.table1"
													ng-options="inputdatasetlist[k] as t for (k,t) in inputdatasetlist"
													ng-required="required"
													ng-change="getColumnName(editTableData.table1,1);">
												</select>

											</div>
											<div class="col-sm-4">
												<select class="form-control"
													ng-model="editTableData.columnval1"
													ng-options="columnName[1][k] as t for (k,t) in columnName[1]"
													ng-required="required" multiple="multiple">
												</select>

											</div>
										</div>
										<div class="form-group col-sm-18">
											<div class="col-sm-3">
												<select name="joinArray" ng-model="editTableData.join"
													ng-options="joinArray[k] as t for (k,t) in joinArray"
													class="form-control"></select>
											</div>
											<div class="col-sm-4">
												<select class="form-control" ng-model="editTableData.table2"
													ng-options="inputdatasetlist[k] as t for (k,t) in inputdatasetlist"
													ng-required="required"
													ng-change="getColumnName(editTableData.table2,2);">
												</select>

											</div>
											<div class="col-sm-4">
												<select class="form-control"
													ng-model="editTableData.columnval2"
													ng-options="columnName[2][k] as t for (k,t) in columnName[2]"
													ng-required="required">
												</select>

											</div>
											&
											<div class="row clearfix col-sm-10">&nbsp;</div>
											<div class="col-sm-4">
												<select class="form-control" ng-model="editTableData.table3"
													ng-options="inputdatasetlist[k] as t for (k,t) in inputdatasetlist"
													ng-required="required"
													ng-change="getColumnName(editTableData.table3,3);">
												</select>

											</div>
											<div class="col-sm-4">
												<select class="form-control"
													ng-model="editTableData.columnval3"
													ng-options="columnName[3][k] as t for (k,t) in columnName[3]"
													ng-required="required">
												</select>

											</div>
										</div>
										<div class="row clearfix col-sm-10">&nbsp;</div>
										<div class="form-group col-sm-12">
											<label for="Schema" class="col-sm-2 control-label">Filter</label>
											<div class="col-sm-4">
												<select name="filterArray" ng-model="editTableData.filter"
													ng-options="FilterArray[k] as t for (k,t) in FilterArray"
													class="form-control"></select>
											</div>
											<div class="col-sm-3">
												<select class="form-control" ng-model="editTableData.table4"
													ng-options="inputdatasetlist[k] as t for (k,t) in inputdatasetlist"
													ng-change="getColumnName(editTableData.table4,4);"
													ng-required="required">
												</select>

											</div>
											<div class="col-sm-3">
												<select class="form-control"
													ng-model="editTableData.columnval4"
													ng-options="columnName[4][k] as t for (k,t) in columnName[4]"
													ng-required="required">
												</select>

											</div>
										</div>
										<div class="form-group col-sm-12">
											<div class="col-sm-3">
												<select name="expArray" ng-model="editTableData.expression"
													ng-options="expressArray[k] as t for (k,t) in expressArray"
													class="form-control"></select>
											</div>

											<div class="col-sm-4">
												<select class="form-control" ng-model="editTableData.table5"
													ng-options="inputdatasetlist[k] as t for (k,t) in inputdatasetlist"
													ng-change="getColumnName(editTableData.table5,5);"
													ng-required="required">
												</select>

											</div>
											<div class="col-sm-4">
												<select class="form-control"
													ng-model="editTableData.columnval5"
													ng-options="columnName[5][k] as t for (k,t) in columnName[5]"
													ng-required="required">
												</select>

											</div>
										</div>
										<div class="form-group col-sm-12">
											<label for="Schema" class="col-sm-2 control-label">Group</label>
											<div class="col-sm-4">
												<select class="form-control" ng-model="editTableData.table6"
													ng-options="inputdatasetlist[k] as t for (k,t) in inputdatasetlist"
													ng-change="getColumnName(editTableData.table6,6);"
													ng-required="required">
												</select>

											</div>
											<div class="col-sm-4">
												<select class="form-control"
													ng-model="editTableData.columnval6"
													ng-options="columnName[6][k] as t for (k,t) in columnName[6]"
													ng-required="required">
												</select>

											</div>
										</div>
										<div class="form-group col-sm-12">
											<label for="Schema" class="col-sm-2 control-label">Order</label>
											<div class="col-sm-4">
												<select class="form-control" ng-model="editTableData.table7"
													ng-options="inputdatasetlist[k] as t for (k,t) in inputdatasetlist"
													ng-change="getColumnName(editTableData.table7,7);"
													ng-required="required">
												</select>

											</div>
											<div class="col-sm-4">
												<select class="form-control"
													ng-model="editTableData.columnval7"
													ng-options="columnName[7][k] as t for (k,t) in columnName[7]"
													ng-required="required">
												</select>

											</div>
										</div>
										<div class="form-group col-sm-4 pull-right">
											<button type="button" class="btn btn-default"
												ng-click="constructQuery(editTableData);">Construct
												Query</button>
										</div>
										<div>
											<div class="form-group col-sm-12" ng-show="hiveQueryDiv">
												<textarea name="query" placeholder="SQL Query" id="query"
													ng-model="editstageData.hiveQuery" class="form-control"></textarea>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div ng-show="editstageData.seletType =='Pig'">
								<div class="form-group col-sm-10">
									<label class="col-sm-4 control-label" for="pig">Statement</label>
									<div class="col-sm-8">
										<textarea name="pig" placeholder="Statement" id="pig"
											ng-model="editstageData.pig" class="form-control"
											ng-blur="createDataSet(editstageData.pig);"></textarea>
									</div>
								</div>
							</div>
							<div ng-show="editstageData.seletType =='Spark'">
								<div class="form-group col-sm-10">
									<label class="col-sm-4 control-label" for="Spark">Spark</label>
									<div class="col-sm-8">
										<textarea name="spark" placeholder="Scala-Statement"
											id="spark" ng-model="editstageData.spark"
											class="form-control"
											ng-blur="createDataSet(editstageData.spark);"></textarea>
									</div>
								</div>
							</div>
							<!-- <div ng-show="querymatches.length > 0 && editstageData.seletType =='Spark' || querymatches.length > 0 && editstageData.seletType =='Pig' || querymatches.length > 0 && editstageData.seletType =='Hive'">
                            <div class="form-group col-sm-9">
                             <table class='table  table-bordered'>
       
					        <tr  ng-repeat="match in querymatches track by $index">
					            <td>
					               {{match}}
					            </td>
					            <td>
					            <select ng-model="model['option1'][match]">
								 <option value="Select">Select</option>
								  <option value="Dataset">Dataset</option>
								  <option value="Param">Param</option>
								</select>
					            </td>
					            <td>
								<select class="form-control"  ng-show="model['option1'][match] == 'Dataset'"  ng-model="editstageData['inputDataset'][match]">multiple="multiple"
								 <option ng-repeat="item in detaildataSet" value="{{item.name}}">{{item.name}}</option>
								</select>
					            <input type="text"  ng-show="model['option1'][match] == 'Param'" ng-model="editstageData['param'][match]">
					            </td>
					            </tr>
					            
					        <tr>
				            <td>
				             output Dataset
				            </td>
					        <td>
					            <select ng-model="model.option2">
								 <option value="Select">Select</option>
								  <option value="Dataset" selected>Dataset</option>
								  <option value="Param">Param</option>
								</select>
					        </td>
					        <td>
					        <select class="form-control"  ng-model="editstageData.outDataset">
								 <option ng-repeat="item in detaildataSet" value="{{item.name}}">{{item.name}}</option>
								</select>
							</td>
							</tr>
					       </table>
                            </div>
                          </div> -->
							<!--  <div class="form-group col-sm-9" ng-show="editstageData.seletType !='MapReduce'">
                            <label class="col-sm-3 control-label" for="stageprocess">Pre-Process</label>
                            <div class="col-sm-9">
                              <input type="text" name="preprocess" placeholder="Script" id="preprocess" ng-model="editstageData.preprocess" class="form-control">
                            </div>
                          </div>
                          <div class="form-group col-sm-9" ng-show="editstageData.seletType !='MapReduce'">
                            <label class="col-sm-3 control-label" for="stageprocess">Post-Process</label>
                            <div class="col-sm-9">
                              <input type="text" name="Post-Process" placeholder="Script" id="postprocess" ng-model="editstageData.postprocess" class="form-control">
                            </div>
                          </div> -->
							<div class="col-sm-4"
								ng-show="editstageData.seletType =='MapReduce'">
								<div class="col-sm-9">
									<input type="file" class="ng-pristine ng-valid" name="file"
										ng-model="document.fileInput" id="file"
										onchange="angular.element(this).scope().uploadFile(this.files)">
								</div>
								<div class="col-sm-3">
									<!-- <input type="text" class="col-sm-4" ng-model="document.title" id="title" /> -->
									<span ng-show="sucessUpload"> Success </span>
								</div>
							</div>
							<div class="row-fluid clearfix">
								<div class="form-group col-sm-12 pull-right">
									<div class="col-sm pull-right">
										<button type="button" class="btn btn-default"
											data-dismiss="modal">Cancel</button>

									</div>
									<div class="col-sm-5 pull-right"
										ng-show="editstageData.seletType !='MapReduce'">
										<input type="submit" value="Save" name="Save"
											class="btn btn-primary col-sm-4 pull-right">
									</div>
									<div class="col-sm-6 pull-right"
										ng-show="editstageData.seletType =='MapReduce'">
										<span id="mapLoader" style="display: none;"
											class="btn btn-primary col-sm pull-right"> <i
											class="fa fa-spinner fa-spin"></i>
										</span><input type="submit" value="Upload and TestRun" name="Save"
											class="btn btn-primary col-sm-8 pull-right">
									</div>


								</div>
							</div>
					</div>

				</div>
			</div>
		</div>




	</div>


	
	

<script src="js/jsplumb1.js"></script>
<script src="js/demo1.js"></script>
<script type="text/javascript" charset="utf-8">
	
//jsload();

	</script> </div>