<div class="page-content blocky" my-directive ng-controller='DataIngestion'>
	<div class="container">


		<div class="mainy">

			<div class="row">
				<div class="col-md-12">
					<div class="awidget full-width">
					 <div class="page-content blocky" ng-hide="isLoginPage()" ng-controller="SortableCTRL">
	<div class="container">
		 <div class="mainy">
		  <div class="row">
		  <div class="col-md-12">
			   <div class="awidget-head" >
		         <div class="col-md-9">
		        
						<ul class="nav nav-wizard" id='sortable'>
						<li ng-repeat="obj in dataTab"  	ng-class="{ active: $route.current.activetab == '{{obj.Tab}}'}"><a ng-href="/{{obj.pageUrl}}" ng-click="event" >{{obj.sourceName}}</a></li>                    
						</ul>
					 </div>
					<div>
						<form class="bs-docs-example clearfix form-search" role="search">
							<div class="col-lg-2">
								<button type="submit"
									class="btn btn-primary pull-right col-lg-12"
									ng-click="addUpdateDataSet()" ng-show="addNewBtn">Add Scheduler</button>
							</div>
					</form></div>			  
			       <!--   <div class="col-md-3">
			             <div class="input-group form">
			                    <input type="text" placeholder="Something..." class="form-control">
			                    <span class="input-group-btn">
			                    <button type="button" class="btn btn-info">Search</button>
			                    </span>
			              </div>
			         </div>-->
		  		</div>
   			</div>
          </div>
     </div>
</div>
						<div  >
							
									<!-- 	<div class="col-lg-3 col-md-4 col-sm-4  pull-right">
				<div class="input-group">
					<input type="text" class="form-control"> <span
						class="input-group-btn">
						<button class="btn btn-default" type="button">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>

				</div>

			</div>
 -->
								
								<div class="row">&nbsp;</div>
								<div ng-show="totalSourcer > 0">
								<table class="table table-hover table-bordered table-striped"
									ng-show="viewing">
									<thead>
										<tr>
											<th>Name</th>
											<th>Source</th>
											<!-- <th>Description</th> -->
											<th>Target</th>
											<th>Operations</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="obj in detaildataIngestion track by $index">
											<td><span class="btn-link" data-toggle="modal"
												data-target="#detailModal" ng-click="fetchDetails(obj.id)">{{obj.name}}</span></td>
											<td>{{obj.dataSource}}</td>
											<!-- <td>{{obj.description}}</td> -->
											<td><span class="btn-link" data-toggle="modal"
												data-target="#detailModal" ng-click="fetchDetails(obj.id)">{{obj.destinationDataset}}</span></td>
											<td><a class="fa fa-pencil-square-o color"
												ng-click="addUpdateDataSet(obj.id)" title="Edit"></a> &nbsp;
												<a class="fa fa-trash color" title="Delete"
												ng-click="showconfirm(obj.id,obj, obj.name)"></a> &nbsp; <a
												class="glyphicon glyphicon-file" data-toggle="modal"
												title="Log" data-target="#dataIngestionLog"
												ng-click="getIngestionLog(obj.id,'direct')" ingestion-log></a>&nbsp; <a
												class="glyphicon glyphicon-play" data-toggle="modal"
												title="Run Now" ng-click="runIngestionLog(obj.name,obj.id)"></a> <span id="{{obj.id}}loader" style="display:none;"><i class="fa fa-spinner fa-spin"></i></span></td>
										</tr>
			</tbody>
								</table>
								</div>
										<!-- Modal -->
										<div class="modal fade" id="detailModal" tabindex="-1"
											role="dialog" aria-labelledby="myModalLabel"
											aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal">
															<span aria-hidden="true">&times;</span><span
																class="sr-only">Close</span>
														</button>
														<h4 class="modal-title" id="myModalDetailsLabel">
															Scheduler Details: {{jData.name}}</h4>

													</div>
													<div class="modal-body">
														<div class="row-fluid clearfix">

															<div class="col-md-4">Name</div>
															<div class="col-md-8">{{data.name}}</div>
														</div>
														<div class="row-fluid clearfix">

															<div class="col-md-4">Data Source</div>
															<div class="col-md-8">{{jData.dataSource}}</div>
														</div>
														<div class="row-fluid clearfix">

															<div class="col-md-4">Frequency</div>
															<div class="col-md-8">{{jData.frequency}}</div>
														</div>
														<div class="row-fluid clearfix">

															<div class="col-md-4">StartBatch</div>
															<div class="col-md-8">{{jData.startBatch}}</div>
														</div>
														<div class="row-fluid clearfix">

															<div class="col-md-4">EndBatch</div>
															<div class="col-md-8">{{jData.endBatch}}</div>
														</div>
														<div class="row-fluid clearfix">

															<div class="col-md-4">Destination Dataset</div>
															<div class="col-md-8">{{jData.destinationDataset}}</div>
														</div>
														<div class="row-fluid clearfix">

															<div class="col-md-4">Created on</div>
															<div class="col-md-8">{{data.createdDate}}</div>
														</div>
														<div class="row-fluid clearfix">

															<div class="col-md-4">Updated By</div>
															<div class="col-md-8">{{data.updatedBy}}</div>
														</div>
														<div class="row-fluid clearfix">

															<div class="col-md-4">Last Updated</div>
															<div class="col-md-8">{{data.updatedDate}}</div>
														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Close</button>

													</div>
												</div>
											</div>
										</div>


										

										<div class="modal fade" id="deleteConfirmModal" tabindex="-1"
											role="dialog" aria-labelledby="deleteLabel"
											aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title" id="deleteLabel">
															Delete Scheduler: <span>{{getDataSetName}}</span>
														</h4>
													</div>
													<div class="modal-body">
														<p>Do you want to delete?</p>

													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-danger"
															id="deleteConfirm" data-ng-click="delete1()">Yes</button>
														<button type="button" class="btn btn-success"
															data-dismiss="modal">No</button>
													</div>
												</div>
											</div>
										</div>
										<div class="modal fade" id="dataIngestionLog" tabindex="-1"
											role="dialog" aria-labelledby="dataIngestionLog"
											aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title" id="ingestionLogLabel">
															Scheduler Log</span>
														</h4>
													</div>
													<div class="modal-body">
														 
															<table class="table ">
																<thead>
																	<tr>
																		
																		<th>Ingestion ID</th>
																		<th>Batch ID</th>
																		<th>Start Time</th>
																		<!-- <th>End Time</th> -->
																		<th>Stage</th>
																		<th>Status</th>
																		<th>Message</th>
																	</tr>
																</thead>
																<tbody>
																	<tr ng-repeat="obj in dataIngLog">
																		<td>{{obj.dataIngestionId}}</td>
																		<td>{{obj.batch}}</td>
																		<td>{{obj.startTime}}</td>
																		<!-- <td>{{obj.endTime}}</td> -->
																		<td>{{obj.stage}}</td>
																		<td>{{obj.status}}</td>
																		<td>{{obj.jobMessage}}</td>
																	</tr>
																
																</tbody>
															</table>
													</div>
													<div class="modal-footer">
														<button type="button" data-dismiss="modal"
															class="btn btn-default">OK</button>
													</div>
												</div>
											</div>
										</div>
						
							</div>
							<div class="col-md-12" ng-show="totalSourcer == 0">
								<div class="col-md-12">
									<h4 class="text-center">No DataSet found</h4>
								</div>
							</div>
							<div class="row clearfix">&nbsp;</div>
							<div class="row">&nbsp;</div>
							<form class="form-horizontal" role="form" name="form"
								ng-show="editing" ng-submit="saveAddUpdateDataSet(editData)">
								<div class="row-fluid">&nbsp;</div>
								<div class="row-fluid clearfix">
									<div class="form-group col-sm-6">
										<label for="genomeName" class="col-sm-4 control-label">Name<sup><span
												aria-hidden="true"
												class="glyphicon glyphicon-asterisk alert-danger"></span></sup></label>
										<div class="col-sm-8">
											<input type="text" class="form-control"
												ng-model="editData.name" id="genomeName" placeholder="Name"
												pattern="^[a-zA-Z][a-zA-Z0-9- _\.]{1,20}$"
												required="required">
										</div>
									</div>
									<div class="form-group col-sm-6" ng-controller="getDataSource">
										<label for="dataSource" class="col-sm-4 control-label">Data
											Source<sup><span
												aria-hidden="true"
												class="glyphicon glyphicon-asterisk alert-danger"></span></sup></label>
										<div class="col-sm-8">
											<select class="form-control" id="dataSource"
												ng-options="ds for ds in data" required="required"
												ng-model="editData.dataSource"></select>
										</div>
									</div>
									

									<div class="form-group col-sm-6">
										<label for="frequency" class="col-sm-4 control-label">Frequency</label>
										<div class="col-sm-8">
											<select class="form-control" ng-model="editData.frequency"
												id="frequency" ng-options="obj for obj in frequencyArr"
												required="required" ng-change="resetField()"></select>
										</div>
									</div>
									<div class="form-group col-sm-6" ng-controller="getDataSet">
										<label for="destinationDS" class="col-sm-4 control-label">Destination
											Dataset<sup><span
												aria-hidden="true"
												class="glyphicon glyphicon-asterisk alert-danger"></span></sup></label>
										<div class="col-sm-8">
											<select class="form-control"
												ng-model="editData.destinationDataset"
												ng-options="ds for ds in data" id="destinationDS"
												required="required"></select>
										</div>
									</div>
									<div class="form-group col-sm-6">
										<label for="startBatch" class="col-sm-4 control-label">Start
											Batch<sup><span aria-hidden="true"
												class="glyphicon glyphicon-asterisk alert-danger"></span></sup>
										</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" ng-disabled="editData.frequency == 'One Time'"
												ng-model="editData.startBatch"  pattern="{{patterField.dateStructure}}" id="startBatch"
												placeholder="YYYY-MM-DD" required="required">
										</div>
									</div>
									<div class="form-group col-sm-6">
										<label for="endBatch" class="col-sm-4 control-label">End
											Batch
										</label>
										<div class="col-sm-8">
											<input type="text" ng-disabled="editData.frequency == 'One Time'" pattern="{{patterField.dateStructure}}"
												ng-model="editData.endBatch" id="endBatch"
												placeholder="YYYY-MM-DD" class="form-control"
												>
										</div>
									</div>
								</div>

								<div class="clearfix">&nbsp;</div>
								<div class="row-fluid clearfix">
									<div class="form-group col-sm-9 pull-right">
										<div class="col-sm-2 pull-right">
											<button type="button" class="btn btn-default col-sm-12"
												ng-click="cancelADD()">Cancel</button>
										</div>
										<div class="col-sm-2 pull-right">
											<button type="submit" class="btn btn-primary col-sm-12">Save</button>
										</div>
									</div>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>