<section ng-controller="datalineageCtrl">
    <!-- <div class="col-md-2"><ng-include src="'views/leftbar.html'" class="clearfix"></ng-include></div> -->
    <script src="js/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.10.0.js"></script>
    <!-- Modal for Addstream -->
    <div class="section-body" style="margin-top:0px">
        <div class="row">

            <div class="clearfix">&nbsp;</div>

            <div class="col-md-9" ng-show="noSelection" style="text-align: center">
                <h4>No Data</h4>
            </div>

            <!-- dispalys lineage and details -->
            <div class="col-md-10" ng-show="displaylineage" style="padding-right: 70px">
                <div>
                    <!-- <i class="fa fa-arrow-circle-left pointerCursor" aria-hidden="true" ng-click="myVar ? showTagtable('back'): listTables('back')" style="font-size: x-large;"></i>&nbsp; -->
                    <i class="fa fa-arrow-circle-left pointerCursor" aria-hidden="true" ng-click="listTables('back')" style="font-size: x-large;"></i>&nbsp;
                    <span>Back To Results</span>

                </div>
                <div class="clearfix">&nbsp;</div>
                <div>
                    <span><h4>{{tablename}}</h4></span>

                </div>
                <div>
                    <span>Tag:</span>&nbsp;&nbsp;
                    <i class="fa fa-plus-square pointerCursor ppover" aria-hidden="true" ng-click="addTags()" ></i>
                </div>
                <div class="clearfix">&nbsp;</div>
                <div class="card-body graphoverlay">
                    <div>
                        <center>
                            <i class="fa fa-3x fa-spinner fa-spin " ng-show="gFlag"></i>
                            <span ng-show="nodataLin" style="margin-top: 20px"><h4>No Data lineage</h4></span>
                        </center>

                    </div>
                    <div id="lineage">
                        <!-- lineage comes here -->

                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>

                <div>
                    <h4>Details</h4>
                </div>
                <div class="card-body detailoverlay">

                    <div>
                        <div>
                            <ul class="nav nav-tabs" ng-if="(!hiden)" style="background-color: #FCFCFC;border-bottom: 1px solid #F4F3F7 !important">

                                <li><a data-ng-click="tabCategory('Properties')" ng-class="{'activeTab' : isActive('Properties')}" class="tabCSS"><b>Properties</b></a></li>
                                <li><a data-ng-click="tabCategory('Tags')" ng-class="{'activeTab' : isActive('Tags')}" class="tabCSS"><b>Tags</b></a></li>
                                <li><a data-ng-click="tabCategory('Audit')" ng-class="{'activeTab' : isActive('Audit')}" class="tabCSS"><b>Audit</b></a></li>
                                <li><a data-ng-click="tabCategory('Schema')" ng-class="{'activeTab' : isActive('Schema')}" class="tabCSS"><b>Schema</b></a></li>
                            </ul>
                        </div>
                        <div ng-show="category=='Properties'" class="tabContent">
                            <h3 style="margin-left: 20px">Properties</h3>
                            <div class="table-responsive ltable" style="margin:20px; border-radius: 2px">

                                <table class="table no-margin profile" ts-wrapper>

                                    <thead>
                                        <tr>
                                            <th ts-criteria="User|lowercase">Key</th>
                                            <th ts-criteria="TimeStamp|lowercase">Value</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(key,value) in propDetails">
                                            <td>{{key}}</td>
                                            <td ng-if="value==null">null</td>
                                            <td ng-if="value!=''">{{value}}

                                                <i ng-if="(key=='db'||key=='sd'||key=='parameters'||key=='columns')" class="fa fa-plus-square-o" aria-hidden="true" ng-click="callModal(key)"></i>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div ng-show="category=='Tags'" class="tabContent">
                            <h3 style="margin-left: 20px">Tags</h3>
                            <div class="table-responsive ltable" style="margin:20px;border-radius: 2px">
                                <table class="table no-margin profile" ts-wrapper>

                                    <thead>
                                        <tr>
                                            <th ts-criteria="Tags|lowercase">Tags</th>
                                            <th ts-criteria="Attributes|lowercase">Attributes</th>
                                            <th ts-criteria="Tool|lowercase">Tool</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="obj in tagDetails" ts-repeat>
                                            <td>{{obj.typeName}}</td>
                                            <td></td>
                                            <td>
                                                <i class="fa fa-trash-o pointerCursor ppover" aria-hidden="true" ng-click="deleteTag(obj.typeName)"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div ng-show="category=='Audit'" class="tabContent">
                            <h3 style="margin-left: 20px">Audit</h3>
                            <div class="table-responsive ltable" style="margin:20px;border-radius: 2px">
                                <table class="table no-margin profile" ts-wrapper>

                                    <thead>
                                        <tr>
                                            <th ts-criteria="User|lowercase">User</th>
                                            <th ts-criteria="TimeStamp|lowercase">TimeStamp</th>
                                            <th ts-criteria="Actions|lowercase">Actions</th>
                                            <th ts-criteria="Tools|lowercase">Tools</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="obj in auditDetails" ts-repeat>
                                            <td>{{obj.user}}</td>
                                            <td>{{obj.timestamp}}</td>
                                            <td>{{obj.action}}</td>
                                            <td><input type="button" class="btn  btn-primary" name="Details" ng-click="detailsAudit(obj.timestamp)" value="Details"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- modal box for displaying audit details -->
                        <div class="modal fade" id="auditDetmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
                                        <h4 class="modal-title" id="">Audit Details</h4>
                                    </div>
                                    <div class="modal-body" style="overflow-y:scroll;max-width:100%">

                                        <table class='table table-responsive no-margin profile'>
                                            <thead>
                                                <tr>
                                                    <td>Key</td>
                                                    <td>New Value</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="obj in newAudit">
                                                    <td>{{key}}</td>
                                                    <td>{{value}}</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- modal box ends here -->
                        <div ng-show="category=='Schema'" class="tabContent">
                            <div>
                                <span><h3 style="margin-left: 20px">Schema</h3> </span>

                                <span><input value="Assign Tag" type="Submit" ng-click="addtagMulti(schemaDetails,'schemadet')" class="btn btnsec" style="margin-left: 20px">
                                </span>

                            </div>

                            <div class="table-responsive ltable" style="margin:20px;border-radius: 2px">
                                <table class="table no-margin profile" ts-wrapper>

                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" ng-model="schAll" /></th>
                                            <th ts-criteria="Type|lowercase">Type</th>
                                            <th ts-criteria="Comment|lowercase">Comment</th>
                                            <th ts-criteria="Table|lowercase">Table</th>
                                            <th ts-criteria="Tags|lowercase">Tags</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="obj in schemaDetails" ts-repeat>
                                            <td><input type="checkbox" ng-model="obj.checked" ng-checked="schAll" />
                                            </td>
                                            <td>{{obj.type}}</td>
                                            <td>{{obj.comment}}</td>
                                            <td>{{obj.table.$typeName$}}</td>
                                            <td>
                                                <span ng-repeat="(k,v) in obj.$traits$ track by $index">
                                                    <button class=" btnsec" style="height: 25px;" ng-click="deleteTag(k,obj.$id$.id,'schemadet')">{{k}}</button> 
                                                </span>

                                                <span>
                                                    <i class="fa fa-plus-square pointerCursor ppover pull-left" aria-hidden="true" ng-click="addTags(obj.$id$.id,'schemadet')" style="margin-top: 5px"></i>
                                                </span>

                                                <!-- <span ng-show="obj.$traits$!=null">
                                            <button class="btnsec ppover" popover-title="" popover-template="columntagtemplate" popover-placement="bottom" popover-trigger="click">...</button>
                                            </span>

                                            <script id="columntagtemplate" type="text/ng-template">

                                                <div ng-repeat="(k,v) in obj.$traits$ track by $index">
                                                    <button class=" btnsec ppover" style="height: 25px;margin: 5px" ng-click="deleteTag(k,obj.$id$.id)">{{k}}</button> 
                                                </div>
                                            </script> -->

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- display the tables according to the type selected from dropdown -->
            <div ng-show="disTables">
                <center>
                    <div style="padding-top:200px;" id="lineageloader" class="col-md-9"><img src="images/loader.gif">
                    </div>
                </center>

                <div ng-show="tableList!=null" class="col-md-9 tablebg">
                    <div class="card-body">
                        <div>
                            <div style="margin-top: 20px">
                                <span>Results for<b> {{resulttab}}</b></span>
                                <input value="Assign Tag" type="Submit" ng-click="addtagMulti(filteredlist)" class="btn pull-right btnsec">
                            </div>
                            <div class="clearfix">&nbsp;&nbsp;</div>
                            <div class="pull-left" style="margin-top: 10px">
                                <span>Showing:<b> {{pgrange}}</b></span>
                            </div>
                            <div class="pull-right" style="margin-top: 10px">
                                <input type="button" name="fst" value="<<" class=" btn-primary pointerCursor pagingicon" ng-click="paginate('fst')">
                                <input type="button" name="previous" value="Prev" class=" btn-primary pointerCursor pagingicon" ng-click="paginate('prev')">
                                <input type="button" name="next" value="next" class=" btn-primary pointerCursor pagingicon" ng-click="paginate('next')">

                            </div>
                        </div>


                        <div class="table-responsive ltable">
                            <div  class="spinnerbg">
                                <center>
                                    <i class="fa fa-3x fa-spinner fa-spin " ng-show="tflag"></i>

                                </center>
                            </div>
                            <table class="table no-margin profile" ts-wrapper>

                                <thead id="lineagetable-header">
                                    <tr class="headertext">
                                        <th><input type="checkbox" ng-model="tagall" /></th>
                                        <th ts-criteria="tableName|lowercase">Name</th>
                                        <th ts-criteria="description|lowercase">Description</th>
                                        <th ts-criteria="owner|lowercase">Owner</th>
                                        <th>Tags</th>

                                    </tr>
                                </thead>

                                <tbody ng-model="filteredlist">

                                    <tr ng-repeat="obj in filteredlist" ts-repeat>
                                        <td><input type="checkbox" ng-model="obj.checked" ng-checked="tagall" />
                                        </td>
                                        <td ng-model="obj.entityGuid" ng-click="dispLineage(obj.entityGuid,obj.entityName)" class="pointerCursor" style="color: #428BCA">{{obj.entityName}}</td>
                                        <td>{{obj.entityDesc}}</td>
                                        <td>{{obj.entityOwner}}</td>
                                        <td>

                                            <span>
                                            <i class="fa fa-plus-square pointerCursor ppover pull-left" aria-hidden="true" ng-click="addTags(obj.entityGuid)" style="margin-top: 5px"></i>
                                            </span>
                                            <span ng-show="obj.tagList!=null">
                                            <button class="btnsec ppover" popover-title="" popover-template="tagtemplate" popover-placement="bottom" popover-trigger="click">...</button>
                                            </span>

                                            <script id="tagtemplate" type="text/ng-template">

                                                <div ng-repeat="p in obj.tagList ">
                                                    <button class=" btnsec ppover" style="height: 25px;margin: 5px" ng-click="deleteTag(p,obj.entityGuid)">{{p}}</button> 
                                                </div>
                                            </script>


                                        </td>
                                    </tr>
                                </tbody>



                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- displaying tables ends here -->
            <!-- tagged tablelist -->
            <div ng-show="tagedTables">

                <div class="col-md-9 tablebg">
                    <div>
                        <h3>{{seltag}}</h3>

                    </div>
                    <div class="card-body">

                        <div class="table-responsive ltable">

                        
                                <center class="spinnerbg">
                                    <i class="fa fa-3x fa-spinner fa-spin " ng-show="tagflag"></i>

                                </center> 
                            

                            <table class="table no-margin profile" ts-wrapper>

                                <thead id="tagtable-header">
                                    <tr class="headertext">
                                        <th><input type="checkbox" ng-model="tagall" /></th>
                                        <th ts-criteria="tableName|lowercase">Name</th>
                                        <th ts-criteria="description|lowercase">Description</th>
                                        <th ts-criteria="owner|lowercase">Owner</th>
                                        <th>Tags</th>

                                    </tr>
                                </thead>

                                <tbody>

                                    <tr ng-repeat="obj in tagedTablelist" ts-repeat>
                                        <td><input type="checkbox" ng-model="obj.checked" ng-checked="tagall" />
                                        </td>
                                        
                                        <td ng-model="obj.entityGuid" ng-click="dispLineage(obj.entityGuid,obj.entityName)" class="pointerCursor">{{obj.entityName}}
                                        </td>
                                        <td>{{obj.entityDesc}}</td>
                                        <td>{{obj.entityOwner}}</td>
                                        <td>
                                            
                                            <span>
                                                <i class="fa fa-plus-square pointerCursor ppover" aria-hidden="true" ng-click="addTags(obj.entityGuid)"></i>
                                            </span>
                                            <span>
                                            <button class="btnsec ppover" popover-title="" popover-template="tagtemplate" popover-placement="bottom" popover-trigger="click">...</button>
                                            </span>

                                            <script id="tagtemplate" type="text/ng-template">

                                                <div ng-repeat="p in obj.tagList ">
                                                    <button class=" btnsec ppover" style="height: 25px;margin: 5px" ng-click="deleteTag(p,obj.entityGuid)">{{p}}</button> 
                                                </div>
                                            </script>
                                        </td>
                                    </tr>

                                </tbody>



                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- tagged table list ends here -->
            <!-- modal for creating tags -->
            <div class="modal fade" id="createTagmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <!-- data-backdrop="static" -->
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
                            <h4 class="modal-title" id="">Create a new Tag</h4>
                        </div>

                        <div class="modal-body">

                            <div>
                                <input type="text" name="name" placeholder="Name" ng-model="tagData.typeName" class="form-control">
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div>
                                <input type="text" name="name" placeholder="Description" ng-model="tagData.typeDescription" class="form-control">
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div>
                                <p>Search Tags to inherit attributes(optional)</p>
                                <p>Attributes define additional properties for the tag</p>
                            </div>

                            <div>
                                <input type="text" list="tags" multiple class="form-control ng-pristine ng-invalid ng-invalid-required" id="Tag" placeholder="Tag" ng-model="tagData.superTag" ng-focus="updateTags()">
                                <datalist id="tags"><option ng-repeat="t in tagData.tagSug" value="{{t}}"></datalist>
                            </div>

                        </div>


                        <div class="modal-footer">
                            <input type="button" name="cancel" class="btn btnsec pull-left" value="Cancel" ng-click="cancelCreatetag()">
                            <input type="button" name="submit" class="btn btn-primary pull-right" value="Create" ng-click="submitCreatetag(tagData)">
                        </div>

                    </div>
                </div>
            </div>
            <!-- ends here -->

            <!-- modal for add tag -->

            <div class="modal fade" id="addTagmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <!-- data-backdrop="static" -->
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
                            <h4 class="modal-title" id="">AddTag</h4>
                        </div>

                        <div class="modal-body">

                            <div>
                                <!-- <input type="text" list="tags" multiple class="form-control ng-pristine ng-invalid ng-invalid-required" id="Tag" placeholder="Select a tag from dropdown" ng-model="tagData.stag" ng-focus="updateTags()">
                                <datalist id="tags"><option ng-repeat="t in tagData.tagSug" value="{{t}}"></datalist> -->

                                <select ng-model="tagData.stag" class="form-control ng-pristine ng-invalid ng-invalid-required" id="Tag" ng-options="item for item in tagData.tagSug| orderBy:'toString()'" ng-focus="updateTags()">
                                    <option value="" selected="selected">Select a tag from dropdown</option>
                                </select>

                            </div>


                        </div>


                        <div class="modal-footer">
                            <input type="button" name="cancel" class="btn btnsec pull-left" value="Cancel" ng-click="cancelCreatetag()">
                            <input type="button" name="add" class="btn btn-primary pull-right" value="Add" ng-click="assignTag(tagData.stag)">
                        </div>

                    </div>
                </div>
            </div>
            <!-- ends here -->

            <!-- modal for delete tag -->
            <div class="modal fade" id="deleteTagmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <!-- data-backdrop="static" -->
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
                            <h4 class="modal-title" id="">Remove Tag Assignment</h4>
                        </div>

                        <div class="modal-body">

                            <div>
                                <span>Remove: {{choiceDels}} assignment</span>
                            </div>


                        </div>


                        <div class="modal-footer">
                            <!-- <input type="button" name="no" class="btn btnsec btn-primary pull-left" value="No" ng-click=""> -->
                            <input type="button" name="Remove" class="btn btn-primary pull-right" value="Remove" ng-click="removetag()">
                        </div>

                    </div>
                </div>
            </div>
            <!-- ends here -->
            <!-- right side pannel -->
            <div id="" class="col-md-2 pull-right lessPadd panelPosition" style="margin-top: -25px !important; position: fixed !important; ">
                <div ng-show="canvasshow">
                    <img ng-show="hideRight" ng-click="closerightPanel('close');" src="images/arrow_hide_third-panel.png" style="float:left;padding:0px; margin-top: 12px;margin-right:1px;cursor: pointer;" class="">

                </div>

                <div class="zeroPadd rightPanelScroll">
                    <div class="dlpanel add-seperator">
                        <input type="radio" ng-model="myVar" value="1" id="tag" style="margin-left: 20px" ng-click="tagDiv()">Tags &nbsp;&nbsp;
                        <input type="radio" ng-model="myVar" value="2" id="search" style="margin-left: 20px" ng-click="getTableChoice()">Search


                    </div>


                    <!-- side panel -->


                    <div ng-show="myVar==1">
                        <div class="dlpanel add-seperator">
                            <input type="button" class="btn btn-primary " name="Tag" value="Create Tag" style="margin-left: 10px" ng-click="createnewtag()">

                        </div>
                        <div style="margin: 20px 20px 20px;">
                            <!-- <input type="text" list="tags" multiple class="form-control " id="Tag" placeholder="Tag" ng-model="tagData.stag" ng-focus="updateTags()">
                            <datalist id="tags"><option ng-repeat="t in tagData.tagSug" value="{{t}}"  ></datalist> -->

                            <select ng-model="tagData.searchTag" class="form-control ng-pristine ng-invalid ng-invalid-required" id="" ng-options="item for item in tagData.tagSug| orderBy:'toString()'" ng-focus="updateTags()">
                                    <option value="" selected="selected">Select a tag from dropdown</option>
                            </select>
                            <div class="clearfix">&nbsp;</div>
                            <i ng-show="tagselectnotok" class="fa fa-times red">Please select tag from the dropdown</i>

                        </div>

                        <!-- <div class="alert alert-success" ng-show="showSuccessAlert">
                            <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">×</button> 
                            <strong>Done!</strong> {{successTextAlert}}</div>
                        </div> -->

                        <div style="text-align: center;">

                            <input type="button" value="Clear" class="btn btn-primary " style="margin-right: 50px" ng-click="clearTagtable()">
                            <input type="button" value="Search" class="btn btn-primary " ng-click="showTagtable(tagData.searchTag)">
                        </div>

                    </div>


                    <div ng-show="myVar==2">
                        <div class="dlpanel" style="margin-left: 35px">
                            <label>Text</label>&nbsp;&nbsp;
                            <label class="switch">
                                        <input type="checkbox" checked ng-click="toggle(checkBox)">
                                            <div class="slider round"></div>
                                    </label>&nbsp;
                            <label>DSL</label>
                        </div>
                        <div ng-show="checkBox">
                            <input type="text" name="" placeholder="Search using a query string:e.g. sales_fact" class="form-control form-group searchbox" ng-model="textQuery">

                            <i ng-show="txtsearchnotok" class="fa fa-times red" style="margin-left: 20px">Please enter text</i>

                        </div>
                        <div ng-show="!checkBox">
                            <select ng-options="p for p in dbList| orderBy:'toString()'" class="form-control form-group searchbox" ng-model="tableChoice">
                                <option value="" selected="selected">Select entity from dropdown</option>
                            </select> 
                            
                            <input type="text" name="" placeholder="optional conditions" class="form-control form-group searchbox">

                            <i ng-show="entityselnotok" class="fa fa-times red" style="margin-left: 20px">Please select entity from the dropdown</i>


                        </div>
                        
                        <div class="clearfix">&nbsp;</div>
                        <div style="text-align: center;">

                            <input type="button" name="" value="Clear" class="btn btn-primary " style="margin-right: 50px" ng-click="clearSearch()">
                            <input type="button" name="" value="Search" class="btn btn-primary " ng-click="text ? listTables(textQuery): listTables(tableChoice)">

                        </div>
                    </div>
                </div>
                <!-- <div ng-show="myVar==1">
                        <div class="clearfix">&nbsp;&nbsp;</div>
                        <div class="dlpanel">
                            <div ng-repeat="t in tagData.tagSug" ng-click="showTagtable(t)" class="pointerCursor ng-scope" ng-class="{selectTag: hover}" ng-mouseenter="hover = true"           ng-mouseleave="hover = false">
                                <div style="margin: 10px" ><span class="" style="font-size: large;">{{t}}</span></div>
                            </div>
                        </div>
                </div> -->


            </div>

            <!-- right panel ends here -->

        </div>
    </div>





</section>
<style>
    #lineage {
        width: 100%;
        height: 100%;
        position: absolute;
        /*top: 10px;
        left: 10px;*/
    }
</style>