<div class="panel panel-default" > <div class="panel-heading"><b>{{tranformType}}</b></div><div class="panel-body">
 <div class="col-md-12 lessPadd"> <span><b>Add column for Groupby</b></span></div>
<div class="col-md-6 lessPadd"> 
<select  id="columnSelect" class="form-control nopadd" ng-model="columnNameByIDgroup"  multiple="multiple" style="background-color:#fff">
<option ng-repeat="v in columnNamesGrouptemp" value="{{v.name}}">{{v.name}}</option>
</select>  
 <a href="#" id="add">add &gt;&gt;</a>  
 </div>  
 <div class="col-md-6 lessPadd">  
 <select  id="select2" class="form-control nopadd" ng-model="slelect2add"  multiple="multiple" style="background-color:#fff">
<option ng-repeat="v in columnNameByID2" value="{{v.name}}">{{v.name}}</option>
</select> 
  <a href="#" id="remove">&lt;&lt; remove</a> 
 </div>  
<div class="col-md-12 lessPadd" style="background-color:#fff;overflow-y:auto;max-height:450px;"> 
<div class="form-group"> 
		 <span><b>Table1</b></span>
		 <br/>
		 <table class="table" style="background-color:#fff">
		 <tr ng-repeat="v in columnNamesGroup['table2']" class="col-md-12 lessPadd">
		<td width="130px;" >
 	 		<input type="checkbox"  checkbox-group ng-checked="checkedArray[v.name]" ng-disabled="chkGroupby('{{v.name}}');"> {{v.name}}</td>
 	 		<td width="110px;"><select class="form-control" ng-model="editData.opInt[v.name]" name="intop" ng-show="v.dataType != 'string'" ng-disabled="chkChecked('{{v.name}}')">
							<option ng-repeat="item in intOp" value="{{item}}">{{item}}</option>
							</select>
       		 <select class="form-control" 
							ng-model="editData.opInt[v.name]" name="stringop" ng-show="v.dataType == 'string'" ng-disabled="chkChecked('{{v.name}}')">
							<option ng-repeat="item1 in stingOp" value="{{item1}}">{{item1}}</option>
							</select> </td>
							
			</tr>
			
			</table> 
		
	<textarea ng-model="editData.filterColumn" ng-show="false"></textarea>	
	<input type="text" ng-model="editData.sourceID" ng-show="false">
	<textarea ng-model="editData.version" ng-show="false"></textarea>
	<textarea ng-model="editData.id" ng-show="false"></textarea>
</div>
 
			
		</textarea>
 
</div>

</div>

<div class="col-md-12"><input type="submit" value="Save" name="Save" class="btn btn-primary col-sm-4" ng-click = "(permissionLevel == 5 || permissionLevel == 7) && saveTransform(editData,'groupby')";></div><div class="clearfix">&nbsp;</div><div class="clearfix">&nbsp;</div>
</div>
<table class="table" style="background-color:#fff">
	<tr ng-show = "moduleRunStatus[editData.id+'_'+editData.version].runStatus != undefined">
		<td width="100px;"><b>Run Status</b></td>
	</tr>
	<tr ng-show = "moduleRunStatus[editData.id+'_'+editData.version].runStatus != undefined">
		<td>{{moduleRunStatus[editData.id+'_'+editData.version].runStatus}}</td>
	</tr>
	<tr ng-show = "moduleRunStatus[editData.id+'_'+editData.version].startTime != undefined">
		<td width="100px;"><b>Start Time</b></td>
	</tr>
	<tr ng-show = "moduleRunStatus[editData.id+'_'+editData.version].startTime != undefined">
		<td>{{moduleRunStatus[editData.id+'_'+editData.version].startTime}}</td>
	</tr>
	<tr ng-show = "moduleRunStatus[editData.id+'_'+editData.version].endTime != undefined">
		<td width="100px;"><b>End Time</b></td>
	</tr>
	<tr ng-show = "moduleRunStatus[editData.id+'_'+editData.version].endTime != undefined">
		<td>{{moduleRunStatus[editData.id+'_'+editData.version].endTime}}</td>
	</tr>
	<tr ng-show = "moduleRunStatus[editData.id+'_'+editData.version].details != undefined">
		<td width="100px;"><b>Details</b></td>
	</tr>
	<tr ng-show = "moduleRunStatus[editData.id+'_'+editData.version].details != undefined">
		<td>{{moduleRunStatus[editData.id+'_'+editData.version].details}}</td>
	</tr>
</table>
 <script>
var str = "";
$().ready(function() {  
	$('#add').click(function() {  
		//str = "";
	   
	    $('#columnSelect option:selected').appendTo('#select2');
	    $('#columnSelect option:selected').remove();
	    var a = [];
	    $( "#select2 option" ).each(function() {
	    	console.log($( this ).val().trim());
	    	 a.push($( this ).val().trim());
		    });
	    	str = a.join(', ');
			var scope = angular.element(document.getElementById("pipeGraph")).scope();
		    scope.$apply(function () {
		    scope.changeColumn(a);
		    });
	    return false;  
	   });  
	$('#remove').click(function() {  
	 $('#select2 option:selected').appendTo('#columnSelect');  
	 $("#select2 option:selected").remove();
	 var a = [];
	 $( "#select2 option" ).each(function() {
	    a.push($( this ).val().trim());
	});
	    	str = a.join(', ');
			var scope = angular.element(document.getElementById("pipeGraph")).scope();
		    scope.$apply(function () {
		    scope.changeColumn(a);
		    });
	    return false;  
	   });  ;  
}); 

</script>