<div class="panel panel-default" > <div class="panel-heading"><b>{{tranformType}}</b></div><div class="panel-body"><div class="col-md-14 lessPadd" style="background-color:#fff"> 
<div class="form-group col-md-6"> 
		 <span><b>Table1</b></span>
		 <br/>
		 <select  id="columnSelect" class="form-control nopadd" ng-model="editData.table1"  multiple="multiple" style="background-color:#fff">
			<option ng-repeat="v in columnNamesJoin['table1']" value="{{$index}}">{{v.name}}</option>
		</select> 
      <!-- <select ng-model="editData.table1" multiple="multiple" class="form-control nopadd" style="background-color:#fff">
        <option ng-repeat="item in columnNamesJoin['table1']" value="{{item}}">{{item}}</option>
      </select> -->
       <br/>
       <span><b>Table2</b></span>
        <br/>
       <select  id="columnSelect" class="form-control nopadd" ng-model="editData.table3"  multiple="multiple" style="background-color:#fff">
			<option ng-repeat="v in columnNamesJoin['table3']" value="{{$index}}">{{v.name}}</option>
		</select> 
	<!-- <select ng-model="editData.table3" multiple="multiple" class="form-control nopadd" style="background-color:#fff">
        <option ng-repeat="item in columnNamesJoin['table3']" value="{{item}}">{{item}}</option>
      </select> -->
	<input type="text" ng-model="editData.sourceID" ng-show="false">
	<textarea ng-model="editData.version" ng-show="false"></textarea>
	<textarea ng-model="editData.id" ng-show="false"></textarea>
	<input type="text" ng-model="editData.tagetSet" ng-show="false">
</div>


 <div class="clearfix">&nbsp;</div>
<div class="col-md-6"> <div class="clearfix">&nbsp;</div><input type="submit" value="Save" name="Save" class="btn btn-primary col-sm-10" ng-click = "(permissionLevel == 5 || permissionLevel == 7) && saveTransform(editData,'join')";></div>
</div>

</div></div>
<table class="table" style="background-color:#fff">
	<tr ng-show = "moduleRunStatus[editData.id+'_'+editData.version].runStatus != undefined">
		<td><b>Run Status</b></td>
	</tr>
	<tr ng-show = "moduleRunStatus[editData.id+'_'+editData.version].runStatus != undefined">
		<td>{{moduleRunStatus[editData.id+'_'+editData.version].runStatus}}</td>
	</tr>
	<tr ng-show = "moduleRunStatus[editData.id+'_'+editData.version].startTime != undefined">
		<td><b>Start Time</b></td>
	</tr>
	<tr ng-show = "moduleRunStatus[editData.id+'_'+editData.version].startTime != undefined">
		<td>{{moduleRunStatus[editData.id+'_'+editData.version].startTime}}</td>
	</tr>
	<tr ng-show = "moduleRunStatus[editData.id+'_'+editData.version].endTime != undefined">
		<td><b>End Time</b></td>
	</tr>
	<tr ng-show = "moduleRunStatus[editData.id+'_'+editData.version].endTime != undefined">
		<td>{{moduleRunStatus[editData.id+'_'+editData.version].endTime}}</td>
	</tr>
	<tr ng-show = "moduleRunStatus[editData.id+'_'+editData.version].details != undefined">
		<td><b>Details</b></td>
	</tr>
	<tr ng-show = "moduleRunStatus[editData.id+'_'+editData.version].details != undefined">
		<td>{{moduleRunStatus[editData.id+'_'+editData.version].details}}</td>
	</tr>
</table>
