<div class="panel panel-default" > <div class="panel-heading"><b>{{tranformType}}</b></div></div>
<div class="col-md-12"><table class="table" style="background-color:#fff">
	<tr ng-show = "moduleHis.status != undefined">
		<td width="100px;"><b>Run Status</b></td>
	</tr>
	<tr ng-show = "moduleHis.status != undefined">
		<td>{{moduleHis.status}}</td>
	</tr>
	<tr ng-show = "moduleHis.start_time != undefined">
		<td width="100px;"><b>Start Time</b></td>
	</tr>
	<tr ng-show = "moduleHis.start_time != undefined">
		<td>{{moduleHis.start_time}}</td>
	</tr>
	<tr ng-show = "moduleHis.end_time != undefined">
		<td width="100px;"><b>End Time</b></td>
	</tr>
	<tr ng-show = "moduleHis.end_time != undefined">
		<td>{{moduleHis.end_time}}</td>
	</tr>
	<tr ng-show = "moduleHis.details != undefined">
		<td width="100px;"><b>Details</b></td>
	</tr>
	<tr ng-show = "moduleHis.details != undefined">
		<td>{{moduleHis.details}}</td>
	</tr>
</table></div>

