<section my-directive ng-controller="dataSchemapreview" style="padding:0px ! important;">
	<div class="section-body">
					<div class="row">
					<div class="col-lg-12 zeroPadd">
					<form role="form" class="form"  id="schemaForm"  name="schemaForm1" ng-submit="ingestionSummaryPage(editdata,columnName,columnType);" method="POST">
							<div class="col-lg-13">
							<div class="card style-default-bright">
									<!--div class="card-head" style="line-height:2.75">
									<div class="col-sm-14 pull-right"><div class="col-sm-5">
									<input type="submit" ng-disabled="datapreview.length == 0 || schemanamenotok == true || schemanameundefined == true " id="btn-login" class="btn btn-primary" name="Continue" value="Continue">
									</div>
									<div class="col-sm-5">
										
										<input type="button" id="btn-login" class="btn btn-default" name="Cancel" value="Cancel" ng-show="true" ng-click="canceloparation()">
									</div>
				
									</div></div-->
				<div class="card style-default-bright">					
				<div class="card-head" style="line-height:1.2">
				<div class="col-md-3" >
				<span ><input type="image" src="images/next_inactive.png" alt="Submit Form" style="top:9px;margin-left:25%;"  title="Next" ng-disabled="datapreview.length == 0 || schemanamenotok == true || schemanameundefined == true " class="pointerCursor iconPadding" onmouseout="iconUnHover(this, 'next_inactive.png');" onmouseover="iconHover(this, 'next_active.png');">
				</input>
				</span>
				<span ><input type="image" src="images/cancel_inactive.png" ng-click="canceloparation()" style="top:9px;" title="Cancel" class="pointerCursor iconPadding" onmouseout="iconUnHover(this, 'cancel_inactive.png');" onmouseover="iconHover(this, 'cancel_active.png');">
				</input>
				</span>
				
				</div>
				</div>
				</div>
				
				
				
									</div></div>
									<div class="col-lg-12 ">
									<div class="card ">
								
									<div>
									<div class="card style-default-bright">
									<div class="col-md-4" style="padding-left:24px;"><h3>Data Schema Definition </h3></div>
									</div>
								</div>
							</div> 
						</div>   
							<div class="col-lg-12">
							

									<div class="col-lg-12">

								<div ><!-- class="card" -->
								<div class=" style-default-bright">
								<div class="row clearfix">&nbsp;</div>
								<div ng-controller="SortableCTRL"><ng-include src="'includes/progressbar.html'" class="clearfix"></ng-include></div>
								<div class="row clearfix">&nbsp;</div><div>
				<div class="calendarNav tab-pane fade in active" id="standardNav" ng-show="tableview">
				
				<div class="row-fluid clearfix">
					<div class="col-sm-14" >
					<div class="row-fluid clearfix">
				<div class="col-sm-4" ng-show="datapreview.length > 0 ">
				             <input type="text" autofocus="autofocus" focus-me="schemaForm1"  ng-model="editdata.newSchemaName" ng-disabled="previewpage.filetype == 'fileUpload'" placeholder="Name" name="fname" class="form-control" id="sourceName"  ng-pattern="/^[a-zA-Z0-9_\s]*$/"  required ng-keypress="savebutton = false" required="required" ng-blur="chkSchemaName(editdata.newSchemaName);">
						
						<span class="alert-danger" ng-show="schemaForm1.fname.$error.pattern">Special Character Not allowed.</span>
						<i ng-show="schemanamenotok" class="fa fa-times red">Schema Name already exist,Use another name !</i>
						<i ng-show="schemanameundefined" class="fa fa-times red">Schema Name cannot be blank ! </i>
    			</div>
				           
					<div class="col-sm-4 " ng-show="datapreview.length > 0">
				               <textarea cols="2" rows="1" ng-keypress="savebutton = false" ng-model="editdata.description" placeholder="Description" class="form-control ng-pristine ng-valid"></textarea>
 					</div>
				           
			<!-- <div class="col-sm-2 pull-right">
				 <input type="submit" value="Continue" name="Continue" class="btn btn-primary col-sm-12" id="btn-login"  ng-disabled="datapreview.length == 0 || schemanamenotok == true">
				  </div>
			<div class="form-group col-sm-14 pull-right">
			<div class="col-sm-10 pull-right">
				 <input type="button" ng-click="canceloparation()" ng-show="true" value="Cancel" name="Cancel" class="btn btn-default col-sm-14" id="btn-login">
				  </div>
				
				</div> -->
				
				</div>
	</div>	
	
     <div class="mega"><!-- {{datapreview.length }}{{datapreview['errorCode'].length}} -->
     <div  ng-show="datapreview.length == 0">
	<div>
		<h4 class="text-center">No Schema found</h4>
	</div>
	</div>
	<!-- <div  ng-show="datapreview['errorCode'] != undefined && datapreview.length == 0">
	<div>
		<h4 class="text-center">{{datapreview['errorCode']}}</h4>
	</div>
	</div> -->
		<table class='headerfixed table  table-bordered' ng-show="columns.header.length > 0">
       
        <tr class="whiteRow">
            <td ng-repeat="column in columns.header track by $index"  id="colName{{$index}}" contenteditable="true" ng-model="columnName[$index]">
               {{column}}
              <!--  <input type="text" name="columnName" ng-model="columnName[$index]" size="30"> -->
            </td>
        </tr>
       <tr>
            <td ng-repeat="columndata in columnsdata.datatype track by $index"  id="dataType{{$index}}" >
            <select class="form-control" ng-init="columndata = columndata == null ? sourceType[0] : columndata"  ng-options="sourceType[k] as t for (k,t) in sourceType"
								ng-model="columnType[$index]" name="Sourcertype" id="dataType{{$index}}"></select>
                
            </td>
        </tr>
        </table>
        <table class="table table-bordered" ng-show="datapreview.length > 0">
        
         
        <tr ng-repeat="user in datapreview track by $index">
        
            <td ng-repeat="column1 in user track by $index" >
            
           
                {{column1}}
            </td>
        </tr>
       
    </table></div>
      </form>
    <script>
	$('.mega').on('scroll',function(){$('.headerfixed').css('top',$(this).scrollTop());});
	</script>
	</div>
			
<!--  <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->

</div>
</div>

				</div>
				
				</div>
		</div>
		</div>
	</div>

</section>
