<div class="panel panel-default" > <div class="panel-heading"><b>{{tranformType}}</b></div><div class="panel-body"><div class="col-md-14 lessPadd" style="background-color:#fff"> 
<div class="form-group"> 
<br/>
<form name="modelForm">
	<div class="form-group col-sm-14">
	<label for="Step size" class="col-sm-6 control-label ">Description</label>
	<div class="col-sm-12 ">
		<textarea ng-model="editData.description" class="form-control"></textarea>
	</div>
	<div class="clearfix">&nbsp;</div>
	</div>	
</form>		
	<input type="text" ng-model="editData.sourceID" ng-show="false">
	<textarea ng-model="editData.version" ng-show="false"></textarea>
	<textarea ng-model="editData.id" ng-show="false"></textarea>
</div>


 <div class="clearfix">&nbsp;</div></div></div>
 
<div class="col-md-12"><input type="submit" value="Save" name="Save" class="btn btn-primary col-sm-4" ng-click = "(permissionLevel == 5 || permissionLevel == 7) &&  saveTransform(editData,'testCompare')";></div>
<div class="clearfix">&nbsp;</div>
</div>

</div>
</form>
<table class="table" style="background-color:#fff">
	<tr ng-show = "moduleRunStatus[editData.id+'_'+editData.version].runStatus != undefined">
		<td width="100px;"><b>Run Status</b></td>
	</tr>
	<tr ng-show = "moduleRunStatus[editData.id+'_'+editData.version].runStatus != undefined">
		<td>{{moduleRunStatus[editData.id+'_'+editData.version].runStatus}}</td>
	</tr>
	<tr ng-show = "moduleRunStatus[editData.id+'_'+editData.version].startTime != undefined">
		<td width="100px;"><b>Start Time</b></td>
	</tr>
	<tr ng-show = "moduleRunStatus[editData.id+'_'+editData.version].startTime != undefined">
		<td>{{moduleRunStatus[editData.id+'_'+editData.version].startTime}}</td>
	</tr>
	<tr ng-show = "moduleRunStatus[editData.id+'_'+editData.version].endTime != undefined">
		<td width="100px;"><b>End Time</b></td>
	</tr>
	<tr ng-show = "moduleRunStatus[editData.id+'_'+editData.version].endTime != undefined">
		<td>{{moduleRunStatus[editData.id+'_'+editData.version].endTime}}</td>
	</tr>
	<tr ng-show = "moduleRunStatus[editData.id+'_'+editData.version].details != undefined">
		<td width="100px;"><b>Details</b></td>
	</tr>
	<tr ng-show = "moduleRunStatus[editData.id+'_'+editData.version].details != undefined">
		<td>{{moduleRunStatus[editData.id+'_'+editData.version].details}}</td>
	</tr>
</table>
