<center><div style="padding-top:200px;" id="userLoader"><img src="images/loader.gif"></div></center>
<section  my-directive ng-controller="userDetailsCtrl" style="padding:0px;display:none;" id="userDetailsPage" >
	<div class="section-body">
		
			<div class="row" style="  margin-right: -30px;margin-left: -30px;">
			<div class="col-lg-12 zeroPadd">
					<div class="card style-default-bright">
						<div class="card-head">
						<div class="col-md-3" >
								 						<!-- <span ng-click="addUpdateSchema();" class="glyphicon glyphicon-plus-sign fa-2x color"></span> -->
						<span ng-show="tabname=='userSection'" data-toggle="modal" data-target="#userAddMethod" class="pointerCursor iconPadding" ng-click="clearuser();" style="top:9px;margin-left:10%;" title="Add Dataset"><img src="images/new_inactive.png" onmouseover="iconHover(this, 'new_active.png');" onmouseout="iconUnHover(this, 'new_inactive.png');"></span> 
						<span ng-show="tabname=='groupSection'" data-toggle="modal" data-target="#groupAddMethod"  class="pointerCursor iconPadding" ng-click="clearGroup();" style="top:9px;margin-left:10%;" title="Add Dataset"><img src="images/new_inactive.png" onmouseover="iconHover(this, 'new_active.png');" onmouseout="iconUnHover(this, 'new_inactive.png');"></span>
						</div></div>
					</div>
				</div>
			</div>
			<div class="col-lg-14">
				<div class="col-lg-12">
					<div class="card">
						<div class="card style-default-bright">
							<div ng-init="tabname='userSection'">
							<div class="col-md-12"><h3>Administrator</h3></div>
								<!-- <div ng-show="tabname=='userSection'" class="col-sm-2 pull-right">
									<a  title="Add a user" data-toggle="modal" data-target="#userAddMethod" class="btn btn-primary pull-right col-lg-12" ng-click="clearuser();">Add User</a>
								</div>
								<div ng-show="tabname=='groupSection'" class="col-sm-2 pull-right">
									<a  title="Add a group" data-toggle="modal" data-target="#groupAddMethod" class="btn btn-primary pull-right col-lg-12" ng-click="clearGroup();">Add Group</a>
								</div> -->
								<div class="clearfix"><span id="schemarunID" style="color: green"></span></div>
								<div class="card-body">
									<ul class="nav nav-tabs">
								        <li class="active"><a data-toggle="tab" ng-click="switchTabUser()" class="pointerCursor">User</a></li>
								        <li><a data-toggle="tab" ng-click="switchTabGroup()" class="pointerCursor">Group</a></li>
								    </ul>
							        <div class="tab-content">
								      	<div class="clearfix">&nbsp;</div>
								      	<div ng-switch on="tabname">
										    <div id="userSection" class="tab-pane fade in active" ng-switch-when="userSection">
												<div class="table-responsive">
													<table class="table no-margin profile" ts-wrapper>
														<thead>
															<tr>
																<!-- <th><a ts-criteria="displayName|lowercase" ts-default>Display Name</a></th> -->
																<th ts-criteria="name|lowercase" ts-default>Display Name</th>
																<th ts-criteria="email|lowercase">Email</th>
																<th ts-criteria="userName|lowercase">User Name</th>
																<th ts-criteria="isSuperUser|lowercase">Super User</th>
																<!-- <th ts-criteria="name|lowercase">Schedule</th> -->
																<th>Operations</th>
															</tr>
														</thead>
														<tbody>
															<tr	ng-repeat="obj in userListDetails | orderObjectBy:orderByField:reverse" ts-repeat ng-hide="obj.isRowHidden">
																<td><span class="btn-link" data-toggle="modal"
																	data-target="#detailModal" ng-click="fetchDetails(obj.userName,'user')">{{obj.name}}</span></td>
																<td contenteditable="true" ng-model="obj.email">{{obj.email}}</td>
																<td contenteditable="true" ng-model="obj.userName">{{obj.userName}}</td>
																<!-- <td contenteditable="true" ng-model="obj.roles.rolesName">{{obj.roles.rolesName}}</td> -->
																<td>{{obj.isSuperUser}}</td>
																<td>
																	<a href="" ng-click="getUser(obj.userName)" title="Edit">
																		<span class="fa fa-pencil-square-o color"></span>
																	</a>
																	&nbsp; 
																	<a title="Disable" style="cursor: pointer" ng-click="showconfirm(obj.userName,obj,'usr')" ng-hide="obj.isDisabled">
																		<span class="fa fa-trash color"></span>
																	</a>
																	<a title="Restore" style="cursor: pointer" ng-click="restoreuser(obj.userName)" ng-show="obj.isDisabled">
																		<span class="fa fa-repeat color"></span>
																	</a>
																</td> 
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											 <div id="groupSection" class="tab-pane fade in active" ng-switch-when="groupSection">
											 	<div class="table-responsive">
													<table class="table no-margin profile" ts-wrapper>
														<thead>
															<tr>
																<th ts-criteria="groupName|lowercase" ts-default>Group Name</th>
																<th ts-criteria="description|lowercase">Description</th>
																<th>Operations</th>
															</tr>
														</thead>
														<tbody>
															<tr	ng-repeat="obj in userGroupDetails | orderObjectBy:orderByField:reverse" ts-repeat ng-hide="obj.isRowHidden">
																<td contenteditable="true" ng-model="obj.groupName">{{obj.groupName}}</td>
																<td contenteditable="true" ng-model="obj.description">{{obj.description}}</td>
																<td><a ng-click="getUser(obj.groupName,'group')" title="Edit" href=""><span
																	class="fa fa-pencil-square-o color"></span></a>&nbsp; 
																	<a title="Disable not implemented" style="cursor: pointer"><span
																	class="fa fa-trash color"></span></a><!-- ng-click="showconfirm(obj.groupName,obj,'grp')" -->
																</td> 
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>			  
							</div>			
						</div>
					</div>
    			 </div>
			</div>
		</div>
	</div>
				
	<!-- <div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="deleteLabel">Delete
						Schema: {{DelObj.name}}</h4>
				</div>
				<div class="modal-body">
					<p>Do you want to delete?</p>

				</div> 
				<div class="modal-footer">
					<button type="button" class="btn btn-default"
						id="deleteConfirm" data-ng-click="delete1()">Yes</button>
					<button type="button" class="btn btn-success"
						data-dismiss="modal">No</button>
				</div>
			</div> 
		</div>
	</div> -->
	<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="deleteLabel">Disable
						User: {{DelObj.name}}</h4>
					</div>
					<div class="modal-body">
						<p><b></b>Do you want to disable {{DelObj.name}}?</b></p>
		
					</div>
					<div class="modal-footer">
						<div class="col-md-6"><button data-ng-click="delete1()" id="deleteConfirm" class="btn btn-primary col-md-5 pull-right" type="button">Yes</button></div>
						<div class="col-md-6"> <button data-dismiss="modal" class="btn btn-default col-md-5" type="button">No</button></div>
							</div>
				</div>
			</div>
		</div>
	<div class="modal fade" id="userAddMethod" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
		<div class="modal-dialog">
		<div class="modal-content">
             <div class="modal-header">
                <b ng-if="userEditAction != true">Add User Details</b>
                <b ng-if="userEditAction == true">Edit User Details</b>
               <button data-dismiss="modal" class="close" type="button">
                 <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
               </button>
               <h4 id="myModalDetailsLabel1" class="modal-title"></h4>

             </div>
             <form role="form" class="form" id="stageForm1" ng-model="stageForm" name="stageForm1" ng-submit="saveuserDetailsModal1(edituserData)">
	              <div class="modal-body" ng-switch on="edituserData.userId" style="text-align:center">
	                  <div class="row-fluid">&nbsp;</div>
	                  <div class="form-group col-sm-12">
	                    <label for="userName" class="col-sm-4 control-label">User Name<sup><span aria-hidden="true" class="glyphicon glyphicon-asterisk red"></span></sup>
	                    </label>
	                    <div class="col-sm-7">
	                      <input type="text" ng-disabled="userEditAction == true" class="form-control" ng-model="edituserData.userName" id="username" placeholder="username" name="username" ng-pattern="/^[a-zA-Z0-9_\s]*$/" ng-blur="chkuser(edituserData.userName);" required>
	                      <i ng-show="usernameOk" class="fa fa-check green pull-left"> username available</i> 
	                      <i ng-show="usernamenotok" class="fa fa-times red pull-left"> username not available</i> 
	                      <span class="alert-danger ng-hide pull-left" ng-show="stageForm1.username.$error.pattern">Special Character Not
							allowed.</span>
	                    </div>
	                  </div>
	             <!--      <div class="form-group col-sm-10"  ng-switch-when = "undefined">
	                    <label for="Password" class="col-sm-3 control-label">Password<sup><span aria-hidden="true" class="glyphicon glyphicon-asterisk red"></span></sup>
	                    </label>
	                    <div class="col-sm-8">
	                      <input type="password" class="form-control" ng-model="edituserData.password" id="Password" placeholder="Password" name="Password">
	                    </div>
	                  </div> -->
	                   <div class="form-group col-sm-12">
	                    <label for="stageName" class="col-sm-4 control-label">First Name<sup><span aria-hidden="true" class="glyphicon glyphicon-asterisk red"></span></sup>
	                    </label>
	                    <div class="col-sm-7">
	                      <input type="text" class="form-control" ng-model="edituserData.firstName" id="fname" placeholder="First Name" name="fname" ng-pattern="/^[a-zA-Z0-9_\s]*$/" required>
	                      <span class="alert-danger ng-hide" ng-show="stageForm1.fname.$error.pattern">Special Character Not
								allowed.</span>
	                    </div>
	                  </div>
	                  <div class="form-group col-sm-12">
	                    <label for="stageName" class="col-sm-4 control-label">Last Name
	                    </label>
	                    <div class="col-sm-7">
	                      <input type="text" class="form-control" ng-model="edituserData.lastName" id="lname" placeholder="Last Name" name="lname" ng-pattern="/^[a-zA-Z0-9_\s]*$/">
	                      <span class="alert-danger ng-hide" ng-show="stageForm1.lname.$error.pattern">Special Character Not
								allowed.</span>
	                    </div>
	                  </div> 
                       <div class="form-group col-sm-12">
	                      <label for="mapclass" class="col-sm-4 control-label">Gender</label>
	                      <div class="col-sm-7">
	                        <select class="form-control" ng-model="edituserData.gender" name="Group">
	                       		<option value="">Select Gender</option>
	                       		<option ng-repeat="obj in genders">{{obj}}</option>
	                       </select>
	                      </div>
	                    </div>
						<div class="form-group col-sm-12">
	                      <label for="mapclass" class="col-sm-4 control-label">Email<sup><span aria-hidden="true" class="glyphicon glyphicon-asterisk red"></span></sup></label>
	                      <div class="col-sm-7">
	                        <input type="email" class="form-control" ng-model="edituserData.email" id="mapclass" placeholder="Email" name="email" required ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>
	                         <span class="alert-danger ng-hide" ng-show="stageForm1.email.$error.pattern">Please enter correct email.</span>
	                      </div>
	                    </div>
	                    <div class="form-group col-sm-12"> 
	                    	<label for="mapclass" class="col-sm-4 control-label">Date of Birth</label>
							<div class="col-sm-7">
	                        	<input type="date" class="form-control" ng-model="edituserData.dateOfBirth" id="mapclass" placeholder="yyyy-mm-dd" name="dob" ng-pattern="/^(\d{4})\-(0[1-9]|1[012])\-(([0-2]?\d{1})|([3][0,1]{1}))$/">
	                        	<span class="alert-danger ng-hide" ng-show="stageForm1.dob.$error.pattern">Date should be in yyyy-mm-dd format.</span>
	                    	</div>  
						</div>
						<div class="form-group col-sm-12">
	                      <label for="mapclass" class="col-sm-4 control-label">Contact No</label>
	                      <div class="col-sm-7">
	                        <input type="text" class="form-control" ng-model="edituserData.contactNumber" id="mapclass" placeholder="Contact Number" name="phone" ng-pattern="/^[0-9]*$/">
	                        <span class="alert-danger ng-hide" ng-show="stageForm1.phone.$error.pattern">Enter a valid phone number.</span>
	                      </div>
	                    </div>
	               <!--     <div class="form-group col-sm-10">
	                     <label for="Type" class="col-sm-3 control-label">Role</label>
	                     <div class="col-sm-8">
	                       <select class="form-control" ng-options="role[k] as t for (k,t) in role" ng-model="edituserData.role" name="Role">
	                       </select>
	                     </div>
	                   </div> -->
	                    <div class="form-group col-sm-12">
		                    <label for="mapclass" class="col-sm-4 control-label">Address</label>
		                    <div class="col-sm-7">
		                      <textarea class="form-control ng-pristine ng-valid" ng-model="edituserData.address" id="address" placeholder="Address" ></textarea>
		                    </div>
   	                    </div>
	                   <!-- <div class="row-fluid clearfix">
	                     <div class="form-group col-sm-12 pull-right">
	                       <div class="col-sm-2 pull-right">
	                         <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
	                       </div>
	                       <div class="col-sm-2 pull-right">
	                         <input type="submit" class="btn btn-primary col-sm-12" name="Save" value="Save" ng-disabled="usernamenotok">
	                       </div>
	                     </div>
	                   </div> -->
	                  
	               </div>
	                 <div class="clearfix">&nbsp;</div>
	                <div class="modal-footer">
						<div class="col-md-9 pull-right">
		 					<button class="btn btn-default col-sm-4" type="button" data-dismiss="modal">Cancel</button>&nbsp;
		 					<button class="btn btn-primary col-sm-4" ng-disabled="stageForm1.$invalid || usernamenotok" name="Next" value="Next" type="submit">Next</button>
		 				</div>
				  </div>
			</form>
            </div>
		</div>
	</div>
				
	<div class="modal fade" id="userAddMethod2" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
		<div class="modal-dialog">
		<div class="modal-content">
             <div class="modal-header">
               <b ng-if="userEditAction != true">Add User Permissions</b>
               <b ng-if="userEditAction == true">Edit User Permissions</b>
               <button data-dismiss="modal" class="close" type="button">
                 <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
               </button>
               <h4 id="myModalDetailsLabel1" class="modal-title"></h4>

             </div>
             <form role="form" class="form" id="stageForm2" ng-model="stageForm" name="stageForm2" ng-submit="saveuserDetailsModal2(edituserData)">
	              <div class="modal-body" ng-switch on="edituserData.userId">
	                 <!--  <div class="row-fluid">&nbsp;</div> -->
	                <div class="clearfix">&nbsp;</div>
	                <div style="margin-left:65px">
	                      <div class="row col-sm-10">
			                    <div class="form-group col-sm-4">
			                  		<label>Dataset</label>
			                  	</div>
			                    <div class="form-group col-sm-6">
			                    	<label><input type="checkbox" ng-checked="true" ng-disabled="true">&nbsp;r&nbsp;&nbsp;&nbsp;</label>
				                  	<label><input type="checkbox" ng-model="edituserData.haveWritePermissionOnDataset">&nbsp;w&nbsp;&nbsp;&nbsp;</label>
				                  	<label><input type="checkbox" ng-model="edituserData.haveExecutePermissionOnDataset">&nbsp;x&nbsp;&nbsp;&nbsp;</label>
			                  	</div>
		                  </div>
		                  <div class="clearfix">&nbsp;</div>
		                  <div class="row col-sm-10">
			                    <div class="form-group col-sm-4">
			                  		<label>Project</label>
			                  	</div>
			                    <div class="form-group col-sm-6">
			                    	<label><input type="checkbox" ng-checked="true" ng-disabled="true">&nbsp;r&nbsp;&nbsp;&nbsp;</label>
				                  	<label><input type="checkbox" ng-model="edituserData.haveWritePermissionOnProject">&nbsp;w&nbsp;&nbsp;&nbsp;</label>
				                  	<label><input type="checkbox" ng-model="edituserData.haveExecutePermissionOnProject">&nbsp;x&nbsp;&nbsp;&nbsp;</label>
			                  	</div>
		                  </div>
	                      <div class="clearfix">&nbsp;</div>
	                      <div class="clearfix">&nbsp;</div>
		                  <div class="form-group col-sm-10">
		                   		<label>Select Group<sup><span class="glyphicon glyphicon-asterisk red" aria-hidden="true"></span></sup></label>(User should be part of at least one group)
			                    <div class="well" style="max-height: 350px;overflow: auto;">
					                <ul id="check-list-box" class="list-group checked-list-box">
					                  <li class="list-group-item" ng-repeat="grp in userGroupDetails">
						                  <div class="row">
						                    <div class="col-sm-6">
						                  		<label><input type="checkbox" ng-checked="checkGroupContains(grp.groupName)" ng-click="grpSelectCheckboxToggle(grp.groupName)">&nbsp;&nbsp;{{grp.groupName}}</label>
						                  	</div>
						                    <div class="col-sm-5">
							                  	<label><input type="checkbox" ng-checked="true" ng-disabled="true">&nbsp;r&nbsp;&nbsp;&nbsp;</label>
							                  	<label><input type="checkbox" ng-checked="checkWriteContains(grp.groupName)" ng-disabled="checkPermDisable(grp.groupName)" ng-click="grpCheckboxPermToggle(grp.groupName,'w')">&nbsp;w&nbsp;&nbsp;&nbsp;</label>
							                  	<label><input type="checkbox" ng-checked="checkExContains(grp.groupName)" ng-disabled="checkPermDisable(grp.groupName)" ng-click="grpCheckboxPermToggle(grp.groupName,'x')">&nbsp;x&nbsp;&nbsp;&nbsp;</label>
						                  	</div>
						                  </div>
					                  </li>
					                </ul>
					                <br />
					            </div>
		                  </div>
	                  </div>
                      
	               </div>
	                  <div class="clearfix">&nbsp;</div>
	                <div class="modal-footer">
						<div class="col-sm-9 pull-right">
		 					<button class="btn btn-primary col-sm-4" type="button" data-ng-click="userAddMethodBack();" id="userAddBack">Back</button>&nbsp;
		 					<button class="btn btn-primary col-sm-4" ng-disabled="checkedGrp.length == 0" name="Save" value="Save" type="submit">Save</button>  
		 				</div>
				  </div>
			</form>
            </div>
		</div>
	</div>
	
	
	
	<div class="modal fade" id="groupAddMethod" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
                    <div class="modal-header">
                      <b>Add Group</b>
                      <button data-dismiss="modal" class="close" type="button">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                      </button>
                      <h4 id="myModalDetailsLabel1" class="modal-title"></h4>
                    </div>
                    <form role="form" class="form" id="stageForm3" ng-model="stageForm3" name="stageForm3" ng-submit="saveGroupDetails(editgroupData)">
                     <div class="modal-body" style="text-align:center">
                         <div class="row-fluid">&nbsp;</div>
                         <div class="form-group col-sm-12">
                           <label for="Type" class="col-sm-4 control-label">Group Name<sup><span aria-hidden="true" class="glyphicon glyphicon-asterisk red"></span></sup></label>
                           <div class="col-sm-7">
                             <input type="text" class="form-control" ng-model="editgroupData.grpname" id="fname" placeholder="Group Name" name="gname" ng-pattern="/^[a-zA-Z0-9_\s]*$/" ng-blur="editgroupData.isEdit == undefined && chkgrp(editgroupData.grpname);" ng-disabled = "editgroupData.isEdit != undefined" required>
                             <i ng-show="grpnameOk" class="fa fa-check green pull-left"> Group name available</i> 
	                      	 <i ng-show="grpnamenotok" class="fa fa-times red pull-left"> Group name is not available</i> 
                             <span class="alert-danger ng-hide pull-left" ng-show="stageForm3.gname.$error.pattern">Special characters are not allowed.</span>
                           </div>
                         </div>
                         <div class="form-group col-sm-12">
                           <label for="description" class="col-sm-4 control-label">Description<sup><span aria-hidden="true" class="glyphicon glyphicon-asterisk red"></span></sup></label>
                           <div class="col-sm-7">
                             <textarea class="form-control" id=description ng-model="editgroupData.grpdesc" placeholder="Group Description" required></textarea>
                           </div>
                         </div>
                     </div> <div class="clearfix">&nbsp;</div>
                     <div class="modal-footer">
					<div class="col-sm-9 pull-right">
	 					<button class="btn btn-default col-sm-4" type="button" data-dismiss="modal">Cancel</button>&nbsp;
	 					<button class="btn btn-primary col-sm-4" name="Save" value="Save" type="submit" ng-disabled="stageForm3.$invalid || grpnamenotok">Save</button>  
	 				</div>
				  </div>
			  </form>
                 	</div>
		</div>
	</div>
				
	<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalDetailsLabel">User Details: {{data.name}}</h4>

				</div>
				<div class="modal-body">
					<div class="row-fluid clearfix">
					<div class="row-fluid clearfix">

						<div class="col-md-4">UserName</div>
						<div class="col-md-8">{{data.userName}}</div>
					</div>

					<div class="col-md-4">FirstName</div>
						<div class="col-md-8">{{data.firstName}}</div>
					</div>
					<div class="row-fluid clearfix">
						<div class="col-md-4">LastName</div>
						<div class="col-md-8">{{data.lastName}}</div>
					</div>
					<div class="row-fluid clearfix">
						<div class="col-md-4">Email</div>
						<div class="col-md-8">{{data.email}}</div>
					</div>
					<div class="row-fluid clearfix">

						<div class="col-md-4">Gender</div>
						<div class="col-md-8">{{data.gender}}</div>
					</div>
					<div class="row-fluid clearfix">

						<div class="col-md-4">Date of Birth</div>
						<div class="col-md-8">{{data.dateOfBirth}}</div>
					</div>
					<div class="row-fluid clearfix">

						<div class="col-md-4">Contact Number</div>
						<div class="col-md-8">{{data.contactNumber}}</div>
					</div>
					<div class="row-fluid clearfix">

						<div class="col-md-4">Address</div>
						<div class="col-md-8">{{data.address}}</div>
					</div>
					
					<div class="row-fluid clearfix">

						<div class="col-md-4">Created By</div>
						<div class="col-md-8">{{data.createdBy}}</div>
					</div>
					
					<!-- <div class="row-fluid clearfix">
					
						<div class="col-md-4">Role</div>
						<div class="col-md-8">{{data.roles.rolesName}}</div>
					</div> -->
					<!-- <div class="row-fluid clearfix">

						<div class="col-md-4">Address</div>
						<div class="col-md-8">{{data.address}}</div>
					</div> -->
					<div class="row-fluid clearfix"></div>
					<div class="clearfix">&nbsp;</div>
					<div class="row-fluid clearfix">
						<div class="col-md-5">
							<button type="button" class="btn btn-default" style="text-transform: none;" id="userPermShowBtn" ng-click="userPermShowMethod()">Show User Permissions</button>&nbsp;
						</div>
					</div>
					
					
				</div><div class="row-fluid clearfix"></div>
				<div class="modal-footer">
					<div class="col-sm-8 pull-right">
		 					<button class="btn btn-default col-sm-4" type="button" data-dismiss="modal">Cancel</button>&nbsp;
	 				</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="userPermShow" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
		<div class="modal-dialog">
		<div class="modal-content">
             <div class="modal-header">
               <button data-dismiss="modal" class="close" type="button">
                 <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
               </button>
               <h4 id="myModalDetailsLabel1" class="modal-title">User Permissions: {{data.name}}</h4>

             </div>
             <form role="form" class="form" id="stageForm4" ng-model="stageForm4" name="stageForm4" ng-submit="">
	              <div class="modal-body" ng-switch on="data.userId">
	                 <!--  <div class="row-fluid">&nbsp;</div> -->
	                <div class="clearfix">&nbsp;</div>
	                <div style="margin-left:65px">
	                      <div class="row col-sm-10">
			                    <div class="form-group col-sm-4">
			                  		<label>Dataset</label>
			                  	</div>
			                    <div class="form-group col-sm-6">
			                    	<label><input type="checkbox" ng-checked="true" ng-disabled="true">&nbsp;r&nbsp;&nbsp;&nbsp;</label>
				                  	<label><input type="checkbox" ng-model="data.haveWritePermissionOnDataset" ng-disabled="true">&nbsp;w&nbsp;&nbsp;&nbsp;</label>
				                  	<label><input type="checkbox" ng-model="data.haveExecutePermissionOnDataset" ng-disabled="true">&nbsp;x&nbsp;&nbsp;&nbsp;</label>
			                  	</div>
		                  </div>
		                  <div class="clearfix">&nbsp;</div>
		                  <div class="row col-sm-10">
			                    <div class="form-group col-sm-4">
			                  		<label>Project</label>
			                  	</div>
			                    <div class="form-group col-sm-6">
			                    	<label><input type="checkbox" ng-checked="true" ng-disabled="true">&nbsp;r&nbsp;&nbsp;&nbsp;</label>
				                  	<label><input type="checkbox" ng-model="data.haveWritePermissionOnProject" ng-disabled="true">&nbsp;w&nbsp;&nbsp;&nbsp;</label>
				                  	<label><input type="checkbox" ng-model="data.haveExecutePermissionOnProject" ng-disabled="true">&nbsp;x&nbsp;&nbsp;&nbsp;</label>
			                  	</div>
		                  </div>
	                      <div class="clearfix">&nbsp;</div>
	                      <div class="clearfix">&nbsp;</div>
		                  <div ng-show="data.userGroupList.length" class="form-group col-sm-10">
		                   		<label>Group Permissions</label>
			                    <div style="max-height: 350px;overflow: auto;">
					                <ul id="check-list-box" class="list-group checked-list-box">
					                  <li class="list-group-item" ng-repeat="grp in data.userGroupList">
						                  <div class="row">
						                    <div class="col-sm-6">
						                  		<label><input type="checkbox" ng-checked="true" ng-disabled="true">&nbsp;&nbsp;{{grp.groupName}}</label>
						                  	</div>
						                    <div class="col-sm-5">
							                  	<label><input type="checkbox" ng-checked="true" ng-disabled="true">&nbsp;r&nbsp;&nbsp;&nbsp;</label>
							                  	<label><input type="checkbox" ng-checked="grp.grpWrite" ng-disabled="true">&nbsp;w&nbsp;&nbsp;&nbsp;</label>
							                  	<label><input type="checkbox" ng-checked="grp.grpEx" ng-disabled="true">&nbsp;x&nbsp;&nbsp;&nbsp;</label>
						                  	</div>
						                  </div>
					                  </li>
					                </ul>
					                <br />
					            </div>
		                  </div>
	                  </div>
                      <div class="row-fluid">&nbsp;</div>
	                  <div class="clearfix">&nbsp;</div>
	               </div>
	                <div class="modal-footer">
						<div class="form-group col-sm-7">
		 					<button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>&nbsp;
		 				</div>
				  </div>
			</form>
            </div>
		</div>
	</div>
</section>
<script  src="js/menuload.js"></script>		
