<style>
/*
* Added by 19726 on 15-Nov-2016
* Custom CSS rule for Table
* 
*/

tablevalc td, .tableval th {
    width: 146px !important;
}
</style>
<section my-directive ng-controller="validaionTable" style="padding:0px ! important;">
	<div class="section-body">
					<div class="row">
					<div class="col-lg-12 zeroPadd">
					<div class="card style-default-bright">
						<form role="form" class="form"  id="schemaForm"  name="schemaForm1"  method="POST" ng-submit="saveValRule(ruleComb);">
							<div class="col-lg-13">
							<div class="card style-default-bright">
									<div class="card-head" style="line-height:1.2">
									<div class="col-md-3" >
									
									<span ><input type="image" src="images/cancel_inactive.png" ng-click="skipValRule(ruleComb);"  title="Skip validation Rule" style="top:9px;margin-left:10%;" class="pointerCursor iconPadding" onmouseout="iconUnHover(this, 'cancel_inactive.png');" onmouseover="iconHover(this, 'cancel_active.png');">
				                    </input>
				                    </span>
									
									<span ><input type="image" src="images/done_inactive.png" alt="Submit Form"  title="Save" class="pointerCursor iconPadding" onmouseout="iconUnHover(this, 'done_inactive.png');" onmouseover="iconHover(this, 'done_active.png');">
				                            </input>
				                   </span>
				             
									
									<!-- <div class="col-sm-5"><header style="color:white">Edit Data Quality Definition</header></div>
									<div class="col-sm-14 pull-right"><div class="col-sm-5">
									<input type="submit" value="Save" name="Save" class="btn btn-primary" id="btn-login" >
									</div>
									<div class="col-sm-5">
									<input type="button" ng-click="skipValRule(ruleComb);" ng-show="true" value="Skip" name="Skip" class="btn btn-default" id="btn-login">
									</div> -->
									</div></div>
									
									</div>
									</div></div>
									<div class="col-lg-12 ">
									<div class="card ">
								
									<div>
									<div class="card style-default-bright">
									<div class="col-md-5"><h3>Edit Data Quality Definition</h3></div>
									</div>
								</div>
							</div>
						</div>
							<div class="col-lg-12">

									<div class="col-lg-12">

								<div ><!-- class="card" -->
								<div class=" style-default-bright">
								<div class="clearfix">&nbsp;</div>
								<div ng-controller="SortableCTRL"><ng-include src="'includes/progressbar.html'" class="clearfix"></ng-include></div>
								
						
							<!-- <div class="col-sm-2 pull-right">
								 <input type="submit" value="Save" name="Save" class="btn btn-primary col-sm-6" id="btn-login" >
							</div> -->
							<!-- <div class="form-group col-sm-14 pull-right">
								<div class="col-sm-10 pull-right">
								 <input type="button" ng-click="skipValRule(ruleComb);" ng-show="true" value="Skip" name="Skip" class="btn btn-default col-sm-14" id="btn-login">
					  			</div></div>
					  			<div class="clearfix">&nbsp;</div> -->
					
						<div>
				<div class="calendarNav tab-pane fade in active" id="standardNav">
				
			     <div class="mega">
			     <div  ng-show="datapreview.length == 0">
				<div>
					<h4 class="text-center">No Schema found</h4>
				</div>
				</div>
					<div class="outer">
				  <div class="inner">
				    <table class="tableval table table-bordered">
				         <tr class="whiteRow">
						 <th class="whiteRow">
							   <span>Validation Rule</span> 
							</th>
							<td ng-repeat="obj in dataschemaTable track by $index"  ng-model='obj.Name'>
							   <span>{{obj.Name}}</span> 
							</td>
						</tr>
						<tr>
						 <th class="whiteRow">
							   <span>Data Type</span> 
							</th>
							<td ng-repeat="obj in dataschemaTable track by $index"  ng-model='obj.dataType'>
							   <span><b>{{obj.dataType}}</b></span> 
							</td>
						</tr>
						<tr  ng-repeat="rule in validRuleName track by $index">
							<th class="whiteRow">
							   <span>{{rule}}</span>&nbsp;&nbsp;<i class="fa fa-info-circle fa-lg" title={{validRuleinfo[$index]}}></i> 
							</th>
							<td ng-repeat="obj1 in dataschemaTable track by $index"  ng-show="rule != 'Confidential' && rule != 'Strict Validation' && rule != 'Primary'">
							   <input type="text" id="{{$index}}{{$parent.$index}}"  onfocus="if (this.value=='N/A') this.value='';" onblur="if (this.value=='') $(this).val('N/A')" ng-model="ruleComb[$index][$parent.$index]" name="rowcol" ng-class="{ erorInput: errorArr[$index][$parent.$index] == true }"><i class="fa fa-check green" ng-show="correctArr[$index][$parent.$index]"></i>&nbsp;<i class="fa fa-times red" ng-show="errorArr[$index][$parent.$index]" title="{{title[$index][$parent.$index]}}"></i>
							</td>
							<td ng-repeat="obj in dataschemaTable track by $index"  ng-show="rule == 'Confidential'">
							   <select name="valRule" 
								ng-model="ruleComb[$index][$parent.$index]"
								ng-options="pIIRule[k] as t for (k,t) in pIIRule" id="{{rule}}{{$index}}" 
								></select> <i class="fa fa-check green" ng-show="correctArr[$index][$parent.$index]"></i>&nbsp;<i class="fa fa-times red" ng-show="errorArr[$index][$parent.$index]" title="{{title[$index][$parent.$index]}}"></i> 
							</td>
							<td ng-repeat="obj in dataschemaTable track by $index"  ng-show="rule == 'Strict Validation'">
							   <select name="valRule"
								ng-model="ruleComb[$index][$parent.$index]"
								ng-options="mandatoryArr[k] as t for (k,t) in mandatoryArr" id="{{rule}}{{$index}}" 
								></select> <i class="fa fa-check green" ng-show="correctArr[$index][$parent.$index]"></i>&nbsp; <i class="fa fa-times red" ng-show="errorArr[$index][$parent.$index]" title="{{title[$index][$parent.$index]}}"></i> 
							</td>
							<td ng-repeat="obj in dataschemaTable track by $index"  ng-show="rule == 'Primary'">
							   <select name="valRule"
								ng-model="ruleComb[$index][$parent.$index]"
								ng-options="mandatoryArr[k] as t for (k,t) in mandatoryArr" id="{{rule}}{{$index}}" 
								></select> <i class="fa fa-check green" ng-show="correctArr[$index][$parent.$index]"></i>&nbsp; <i class="fa fa-times red" ng-show="errorArr[$index][$parent.$index]" title="{{title[$index][$parent.$index]}}"></i> 
							</td>
						</tr>
				    </table>
				    </form>
				  </div>
				</div>
       		 <table class="table table-hover table-bordered table-striped" ng-show="datapreview.length > 0">
        
         
        	<tr ng-repeat="user in datapreview track by $index">
        
            	<td ng-repeat="column1 in user track by $index" >
            
           
                {{column1}}
            	</td>
        	</tr>
       
    </table></div>
      
    <script>
	$('.mega').on('scroll',function(){$('.headerfixed').css('top',$(this).scrollTop());});
	</script>
	</div>
			
<!--  <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->

</div>
</div>

				</div>
				
				</div>
		</div>
		</div>
	</div>
<div class="modal fade" id="finalModel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="canceloparation('finalModel');"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Ingestion Confirm Page</h4>
      </div>
      <div class="modal-body">
        <p id="finalmodalBODY"></p>
       <center><p class="btncol-sm-10"><button data-ng-click="runautoSchema();" ng-show="true" value="Test Run" name="Test Run" class="btn btn-primary col-sm" id="btn-TestRun" title="Click here to test run the ingestion">Test Run <span id="TestRunLoader" style="display: none;">Loading...
			<i class="fa fa-spinner fa-spin"></i></span></button></p></center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="canceloparation('finalModel');">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="confirmRun" tabindex="-1"
							role="dialog" aria-labelledby="confirmRun" aria-hidden="true">
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header"><b>Test Run sucessful</b>
			<!-- <button type="button" class="close" data-dismiss="modal">
	<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
</button>
	</h4> -->
</div>
<div class="modal-body">
	<p style="color: green;">Test Run was sucessful</p>
				<p>
					File Name: <span id="runFN"></span>
				</p>
				<p>
					Bytes Transferred: <span id="runBT"></span>
				</p>
				<p>
					Time Taken: <span id="runTT"></span> secs
				</p>

			</div>
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" ng-click="canceloparation('confirmRun')"
					class="btn btn-default">OK</button>
			</div>
		</div>
	</div>
</div>
</section>

