<div class="page-content blocky" my-directive ng-controller="dataSchemaSource">  
         <div class="container">


            <div class="mainy">
              
                  <div class="row">
                     <div class="col-md-12"> <div class="awidget full-width">
                                          <div class="page-content blocky" ng-hide="isLoginPage()" ng-controller="SortableCTRL">
	<div class="container">
		 <div class="mainy">
		  <div class="row">
		  <div class="col-md-12">
			   <div class="awidget-head" >
		         <div class="col-md-9">
		        
						<ul class="nav nav-wizard" id='sortable'>
						<li ng-repeat="obj in dataTab"  	ng-class="{ active: $route.current.activetab == '{{obj.Tab}}'}"><a ng-href="/{{obj.pageUrl}}" ng-click="event" >{{obj.sourceName}}</a></li>                    
						</ul>
					 </div>
										  
			       <!--   <div class="col-md-3">
			             <div class="input-group form">
			                    <input type="text" placeholder="Something..." class="form-control">
			                    <span class="input-group-btn">
			                    <button type="button" class="btn btn-info">Search</button>
			                    </span>
			              </div>
			         </div>-->
		  		</div>
		  		
		  			<div>
					<form role="search"
						class="bs-docs-example form-search ng-pristine ng-valid">
						<div class="col-lg-2">
							<a ng-show="addSchema" title="Add a Schema"
								ng-click="addUpdateSchema()"
								class="btn btn-primary pull-right col-lg-12">Add Source</a>
						</div>
						<!--  <div class="col-lg-3 pull-right">
						<div class="input-group">
							<input type="text" class="form-control"> <span
								class="input-group-btn">
								<button class="btn btn-default" type="button">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</span>
				
						</div>
						<!-- /input-group 
				
					</div>-->
					</form>
				</div>
   			</div>
          </div>
     </div>
</div>
                     <div>

	<div class="row clearfix">&nbsp;</div>
	<div class="row">&nbsp;</div>
		<form role="form" class="form" ng-show="editing" id="schemaForm"
			ng-model="schemaForm" name="schemaForm1"
			ng-submit="saveAddUpdateDataSource(editData1,ddArray)">
			<div class="row-fluid">&nbsp;</div>
			<div class="form-group col-sm-6">
				<label for="genomeName" class="col-sm-3 control-label">Name<sup><span
						aria-hidden="true"
						class="glyphicon glyphicon-asterisk alert-danger"></span></sup></label>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="editData1.name"
						id="genomeName" placeholder="Name" name="sourceName"
						ng-pattern="/^[a-zA-Z0-9_\s]*$/" required="required"> <span
						class="alert-danger"
						ng-show="schemaForm1.sourceName.$error.pattern">Special
						Character Not allowed.</span>
				</div>
			</div>
			<div class="form-group col-sm-6">
				<label for="Schema" class="col-sm-3 control-label">Schema <sup><span
						aria-hidden="true"
						class="glyphicon glyphicon-asterisk alert-danger"></span></sup></label>
				<div class="col-sm-9">
					<select class="form-control"
						ng-options="schemaDetail[s] as v for (s,v) in schemaDetail"
						ng-model="editData1.schema" name="Schema"></select>
				</div>
			</div>
			<div class="form-group col-sm-6">
				<label for="Location" class="col-sm-3 control-label">Location<sup><span
						aria-hidden="true"
						class="glyphicon glyphicon-asterisk alert-danger"></span></sup></label>
				<div class="col-sm-9">
					<input type="text" class="form-control"
						ng-model="editData1.location" id="Location" placeholder="Location"
						required="required">
				</div>
			</div>
			<div class="form-group col-sm-6">
				<label for="Type" class="col-sm-3 control-label">Type</label>
				<div class="col-sm-9">
					<select class="form-control"
						ng-options="sourceType[k] as t for (k,t) in sourceType"
						ng-model="editData1.sourcerType" name="Sourcertype"></select>

				</div>
			</div>
			<div class="form-group col-sm-6">
				<label for="Description" class="col-sm-3 control-label">Description</label>
				<div class="col-sm-9">
					<textarea class="form-control" ng-model="editData1.description"
						id="description" placeholder="Description"></textarea>

				</div>
			</div>



			<div class="form-group col-sm-6">
				<label for="Location" class="col-sm-3 control-label">Format</label>
				<div class="col-sm-9">
					<select class="form-control"
						ng-options="sourceFormat[k] as t for (k,t) in sourceFormat"
						ng-model="editData1.format" name="SourcerFormat"></select>

				</div>
			</div>
			<div class="row-fluid clearfix">
				<div class="form-group col-sm-9 pull-right">
					<div class="col-sm-2 pull-right">
						<input type="button" id="btn-login"
							class="btn btn-default col-sm-12" name="Cancel" value="Cancel"
							ng-show="true" ng-click="canceloparation()" />

					</div>
					<div class="col-sm-2 pull-right">
						<input type="submit" class="btn btn-primary col-sm-12" name="Save"
							value="Save" />
					</div>

				</div>
			</div>

		</form>
		<div  ng-show="viewing">
		<div ng-show="totalSourcer == 0">
			<div>
				<h4 class="text-center">No Source found</h4>
			</div>
		</div>
		
			<table class="table table-hover table-bordered table-striped" ng-show="totalSourcer > 0" ts-wrapper>
				<thead>
					<tr>
						<th ts-criteria="name|lowercase" ts-default>Name</th>
						<th ts-criteria="description|lowercase">Description</th>
						<th>Operations</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="obj in detaildataSource  | orderObjectBy:orderByField:reverse" ts-repeat
						ng-hide="obj.isRowHidden">

						<td><span class="btn-link" data-toggle="modal"
							data-target="#detailModal" ng-click="fetchDetails(obj.id)">{{obj.name}}</span></td>
						<td>{{obj.description}}</td>
						<td><a class="fa fa-pencil-square-o color"
							ng-click="addUpdateSchema(obj.id)" title="Edit"></a> &nbsp;
							<a class="fa fa-trash color"
							title="Delete"
							ng-click="showconfirm(obj.id,obj)"></a></td>
					</tr>

					<!-- Modal -->
					<div class="modal fade" id="detailModal" tabindex="-1"
						role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">
										<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
									</button>
									<h4 class="modal-title" id="myModalDetailsLabel">Source Details: {{jData.name}}</h4>

								</div>
								<div class="modal-body">
									<div class="row-fluid clearfix">

										<div class="col-md-4">Name</div>
										<div class="col-md-8">{{data.name}}</div>
									</div>
									<div class="row-fluid clearfix">

										<div class="col-md-4">Description</div>
										<div class="col-md-8">{{jData.description}}</div>
									</div>
									<div class="row-fluid clearfix">

										<div class="col-md-4">Schema</div>
										<div class="col-md-8">{{jData.schema}}</div>
									</div>
									<div class="row-fluid clearfix">

										<div class="col-md-4">Location</div>
										<div class="col-md-8">{{jData.location}}</div>
									</div>
									<div class="row-fluid clearfix">

										<div class="col-md-4">Source Type</div>
										<div class="col-md-8">{{jData.sourcerType}}</div>
									</div>
									<div class="row-fluid clearfix">

										<div class="col-md-4">Format</div>
										<div class="col-md-8">{{jData.format}}</div>
									</div>
									<div class="row-fluid clearfix">

										<div class="col-md-4">Created on</div>
										<div class="col-md-8">{{data.createdDate}}</div>
									</div>
									<div class="row-fluid clearfix">

										<div class="col-md-4">Updated By</div>
										<div class="col-md-8">{{data.updatedBy}}</div>
									</div>
									<div class="row-fluid clearfix">

										<div class="col-md-4">Last Updated</div>
										<div class="col-md-8">{{data.updatedDate}}</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										data-dismiss="modal">Close</button>

								</div>
							</div>
						</div>
					</div>


					<div class="modal fade" id="deleteConfirmModal" tabindex="-1"
						role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title" id="deleteLabel">Delete Source: {{DelObj.name}}</h4>
								</div>
								<div class="modal-body">
									<p>Do you want to delete?</p>

								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-danger" id="deleteConfirm"
										data-ng-click="delete1()">Yes</button>
									<button type="button" class="btn btn-success"
										data-dismiss="modal">No</button>
								</div>
							</div>
						</div>
					</div>
				</tbody>

			</table>
			</div>
		</div>
		
	</div>







</div>
</div>
</div>
</div>
</div>

