<!DOCTYPE html>

<html lang="en" class="no-js">
<head>

<meta charset="UTF-8" />
<title>ZEAS</title>

<base href="/WebModule/">


<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap.custom.css" rel="stylesheet">
<link href="css/font-awesome.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/bootstrap-nav-wizard.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/scrollable-table.css" rel="stylesheet">
<link rel="stylesheet" href="css/tablesort.css"/>
<link rel="stylesheet" href="css/jsplumb.css">
<link rel="stylesheet" href="css/demo.css">
<script src="js/jquery.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<link href="images/favicon.ico" rel="icon" type="image/x-icon">
</head>

<body ng-app="userApp" ng-controller="mainController">
	
		
<ng-include src="'includes/header.html'" class="clearfix"></ng-include>
		<ng-view></ng-view>
	
</body>

<script src="js/jquery.caret.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-filestyle.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/googleChart.js"></script>
<script src="js/angular-resource.min.js"></script>
<script src="js/angular-route.min.js"></script>

<script src="js/ng-google-chart.js"></script>
<script src="js/debug.js" type="text/javascript"></script>
<script src="js/flowchart/svg_class.js" type="text/javascript"></script>
<script src="js/flowchart/mouse_capture_service.js"
	type="text/javascript"></script>
<script src="js/flowchart/dragging_service.js" type="text/javascript"></script>
<script src="js/flowchart/flowchart_viewmodel.js" type="text/javascript"></script>
<script src="js/flowchart/flowchart_directive.js" type="text/javascript"></script>
<script src="js/mainjs.js"></script>
<script src="js/ui-bootstrap-0.11.2.js"></script>
<script src="js/ui-bootstrap-tpls-0.11.2.js"></script>
<script src="js/ngDraggable.js"></script>
<script src="js/angular-file-upload.js"></script>
 <script src="js/StickyTableHeaders.jquery.js"></script>
 <script src="js/ng-infinite-scroll.js"></script>
<script  src="js/ng-table.js"></script>
<script src="js/angular-tablesort.js"></script>


</html>