<div ng-controller="userApp.QuerySelector">
	<textarea class="form-control" rows="5" ng-model="queryInput"></textarea>
	<div class="clearfix">&nbsp;</div>
	<div class="clearfix">
		<input type="button" value="Execute" ng-click="executeQueryBtn()"
			class="btn btn-primary">
	</div>
	<div class="clearfix">&nbsp;</div>
	<div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th  ng-repeat="(y,z) in data[0]" ng-model="data">{{y}}</th>
				</tr>
			</thead>
			<tbody class="table  table-hover">
				<tr ng-repeat="obj in data" ng-model="data">
					<td ng-repeat="x in obj" ng-model="obj" ng-class="ErrorStyle">{{x}}</td>
				</tr>
			</tbody>
		</table>

		
	</div>

</div>